/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 28, 2013, 7:09:35 AM
    Author     : bugraozden
*/

.icon-select {
    @box-width: 64px;
    @box-height: @box-width;
    @icon-width: 48px;
    @icon-height: @icon-width;

    width: 0px;

    .selected-box {
        .rounded(3px);
        position: relative;
        margin: 0px;
        padding: 0px;
        width: @box-width; /* sil */
        height: @box-height; /* sil */
        border: 1px solid #999999;
    }

    .selected-box:hover {
        .rounded(3px);
        position: relative;
        margin: 0px;
        padding: 0px;
        border: 1px solid #000000;
        background-color: #FFFFFF;
    }

    .selected-icon {
        .rounded(3px);
        position: absolute;
        margin: 0px;
        padding: 0px;
        top: 0px;
        left: 0px;
        width: @box-width; /* sil */
        height: @box-height; /* sil */
    }

    .component-icon {
        position: absolute;
        bottom: 5px;
        right: 4px;
    }

    .box {
        .rounded(3px);
        position: absolute;
        top: 0px;
        left: 65px;
        margin: 0px;
        padding: 0px;
        width: 500px; /* sil */
        height: 170px; /* sil */
        border: 1px solid #EEEEEE;
        background-color: #EEEEEE;
        overflow: auto;
        z-index: 20;
        /*
        -webkit-overflow-scrolling: touch;
        */

    }

    .icon {
        .rounded(3px);
        position: relative;
        margin: 5px 0px 0px 5px;
        padding: 0px;
        width: @icon-width; /* sil */
        height: @icon-height; /* sil */
        border: 1px solid #CCCCCC;
        background-color: #FFFFFF;
        overflow: hidden;
        float: left;

        &:hover {
            border: 1px solid #000000;
        }

        &.selected {
            .rounded(3px);
            position: relative;
            margin: 5px 0px 0px 5px;
            padding: 0px;
            width: @icon-width; /* sil */
            height: @icon-height; /* sil */
            border: 1px solid #EEEEEE;
            background-color: #EEEEEE;
            overflow: hidden;
            float: left;
        }
    }
}

.field-icon .iconselect {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 64px;
    height: 64px;
}