/* Resource tree page block */

.resource-tree {
  ul {
    &.jstree-container-ul {
      margin: 0;
    }

    .jstree-node {

      input[type="checkbox"] {
        margin: 3px 3px 0;
      }

      .jstree-anchor{
        color: #333333;
        text-decoration: none;

        &.jstree-clicked {
          color: #337ab7 !important;
        }

        .label {
          margin-right: 5px;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          line-height: 20px;
        }
      }

      .jstree-icon.jstree-ocl {
        background: none;
        &:before {
          cursor: pointer;
          font-style: normal;
          border: 1px solid #000;
          height: 12px;
          width: 12px;
          display: inline-block;
          line-height: 10px;
          font-size: 12px;
          margin: 9px 0px;
          text-align: center;
          padding: 0;
        }
      }


      &.jstree-open {
        .jstree-anchor{
          color: #333333;
        }

        & > .jstree-icon.jstree-ocl {
          &:before {
            content: '-';
          }
        }
      }

      &.jstree-closed {
        .jstree-icon.jstree-ocl {
          background: none;
          &:before {
            content: '+';
          }
        }
      }
    }
  }

}

.resource-details {

  .details {

    &.affix {
      top: 0px;
    }
  }

  .layout-preview {
    min-height: 100%;
    background: url('@{img}/bg-content.jpg') left top no-repeat;
    background-size: 100% 100%;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    
    * {
      cursor: default;
      pointer-events: none;
    }
    
    .l-header {
      min-width: 0;
    }
    
    .l-content {
      min-height: 300px;
    }


    #CENTER, #TOP, #LEFT, #SEARCH, #UTILS {
      min-height: 40px;
    }
    
    #LEFT, #TOP, #SEARCH, #UTILS {
      min-width: 100px;
    }
  }
}


.highlighted-zone {
  outline: 1px dashed #fe4d28;
}