<a class="icon-right"><%=model.get('blockInfo').buttonLabel%>
    <%if (model.get('blockInfo').buttonIcon){%>
        <i style="margin-top: 2px;" class="<%=model.get('blockInfo').buttonIcon%> pull-right"> </i>
    <%}%>
</a>