/*
	.ml-main__content-object
*/
.attrFieldTitle {
  cursor: pointer;
}

.ml-details {
  cursor: pointer;
}

.attrField {
  border: 1px solid #A1C6DE;
  border-radius: 3px;
  min-height: 30px;
  margin: 5px 0;
  padding: 0 5px;

  &[type=file] {
    border: none;
    margin: 0;
    padding: 0;
    height: 20px;
    min-height: 20px;
    font-size: 0.8em;
  }
}

.tab-pane {
  overflow: auto;
}

.newLine {
  border-radius: 4px;
  min-height: 0;

  &:hover {
    background-color: #F0F6FB;
  }
}

.attr-list-search {
  display: none;
}
.attr-list-preview {
  .highlighted {
    background-color: #4CAF50;
  }
}

.attr-list-preview-item {
  cursor: pointer;
  float: left;
  min-height: 24px;
  margin: 3px 3px 3px 0;
  padding: 3px 7px 3px 7px;
  color: #E8EFFF;
  line-height: 18px;
  background-color: #6F7C9B;
  border-radius: 3px;

  &:hover {
    background-color: #7D8FBD;
  }
}

.attr-list-preview-all {
  .attr-list-preview-item
}

.table-controls {
  display: none;
  padding: 5px 10px 0px 10px;
}

#table-filter-row {
  display: none;
  padding-top: 0;

  .filter-input {
    font-family: "roboto_regular";
    min-width: 100px;
    width: auto;
  }
}

.ml-main__content-object {

}

.ml-main__content-object-columns {
  min-height: 400px;

  .row {
    margin: 0;
  }
}

.ml-main__content-object-columns-line {
  min-height: 30px;
  padding: 0 10px 0 10px;
  color: #485166;
  font-size: 14px;
  line-height: 30px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #F0F6FB;
  }
}

.m-main__content-object-columns-line_disabled {

  .ml-main__content-object-columns-line-title {
    color: #6F7C9B;
    font-family: 'roboto_regular';
  }
}

.ml-main__content-object-columns-line-title {
  float: left;
  font-family: 'roboto_bold';
}

.ml-main__content-object-columns-line-title.col-xs-7 {
  padding-left: 0px;
  min-height: 30px;
}

.ml-main__content-object-columns-line-value {
  float: left;
  min-height: 30px;
}

.ml-main__content-object-columns-line-value.col-xs-5 {
  padding-left: 0px;
  padding-right: 0px;
  min-height: 30px;
}

.m-main__content-object-columns-line_disabled .ml-main__content-object-columns-line-value {

}

.ml-main__content-object-columns-line-value-tag {
  float: left;
  min-height: 24px;
  margin: 3px 3px 3px 0;
  padding: 3px 7px 3px 7px;
  color: #E8EFFF;
  line-height: 18px;
  background-color: #6F7C9B;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: #7D8FBD;
  }
}

.ml-main__content-object-columns-line-value-label {
  display: block;
  height: 15px;
  width: 15px;
  margin: 8px 0 0 0;
  border: 1px solid #97B8CE;
  border-radius: 3px;
  cursor: pointer;
}

.ml-main__content-object-columns-line-value-checkbox {
  display: none;
}

.ml-main__content-object-columns-line-value-checkbox:checked + label.ml-main__content-object-columns-line-value-label {
  background: url('@{img}/icon-main-content-object-check.svg') center center no-repeat;
}

.ml-main__content-object-columns-line-delimiter {
  clear: both;
  width: 100%;
  border-bottom: 1px dotted #F0F6FB;
}

.ml-main__content-object-columns-line:last-child .ml-main__content-object-columns-line-delimiter {
  display: none;
}

.ml-main__content-object-delimiter {
  clear: both;
  height: 30px;
}

.ml-main__content-object-tabs {
  clear: both;
  position: relative;
  height: 160px;
  width: 100%;
}

.ml-main__content-object-tabs-top {
  height: 40px;
}

.ml-main__content-object-tabs-top-tab {
  float: left;
  height: 45px;
  margin: 0 10px 0 0;
  padding: 0 25px 0 25px;
  color: #4D77B7;
  font-size: 14px;
  font-family: 'roboto_bold';
  line-height: 40px;
  background-color: #DBE4F1;
  border-radius: 4px 4px 0 0;
  cursor: pointer;

  &:hover {
    background-color: #BEC7D4;
  }
}

.m-main__content-object-tabs-top-tab_active {
  color: #FFFFFF;
  background-color: #2E4D9B;

  &:hover {
    background-color: #4669C2;
  }
}

.ml-main__content-object-tabs-bottom {
  position: relative;
  min-height: 120px;
  padding: 25px 20px 0 25px;
  background-color: #FFFFFF;
  border: 1px solid #DBE4F1;
  border-radius: 4px;
}

.ml-main__content-object-tabs-bottom-tab {
  display: none;
}

.ml-main__content-object-tabs-bottom-tab-line {
  height: 30px;
  color: #485166;
  line-height: 30px;
  border-bottom: 1px dotted #F0F6FB;

  &:last-child {
    border-bottom: none;
  }
}

.m-main__content-object-tabs-bottom-tab-line_disabled {
  .ml-main__content-object-tabs-bottom-tab-line-title {
    color: #6F7C9B;
    font-family: 'roboto_regular';
  }

  .ml-main__content-object-tabs-bottom-tab-line-value {
    display: none;
  }
}

.ml-main__content-object-tabs-bottom-tab-line-title {
  float: left;
  width: 120px;
  font-size: 14px;
  font-family: 'roboto_bold';
}

.ml-main__content-object-tabs-bottom-tab-line-value {
  float: left;
  font-family: 'roboto_regular';
}
