/* Yahoo! reset css system */
@import "reset-min";


html {
  min-height: 100%;
  height: 100%;
}
body {
  min-width: 1330px; /* TEMP!! */
  min-height: 100%;
  background: url('@{img}/bg-content.jpg') left top no-repeat;
  background-size: 100% 100%;
}

.l-header {
  min-width: 990px;
  height: 60px;
}

.l-content {
 /* min-height: 600px; /* TEMP!! http://213.221.6.127/pm/loyalty_development/I-8801 */
  padding: 0 20px 15px 15px;
  font-family: 'roboto_regular';
  overflow: auto;
}

.l-footer {
  min-width: 990px;
}

/*=====================================
	header
=====================================*/
.ml-header {
  /*width: 100%;*/
  height: 30px;
  padding: 15px 20px 15px 20px;

}

.ml-header__title {
  display: block;
  float: left;
  margin: 0 0 0 20px;
  color: #FFFFFF;
  font-size: 25px;
  font-family: 'segoe-ui_bold';
  line-height: 28px;
  text-decoration: none;

  &:hover,  &:visited, &:focus {
    color: #FFFFFF;
    text-decoration: none;
  }
}



.ml-header__list {
  display: block;
  float: left;
  height: 30px;
  width: 38px;
  margin: 0 0 0 27px;
  background: url('@{img}/icon-header-list.svg') center 8px no-repeat;
  border-radius: 4px;

  &:hover {
    .m-header__list_active;
  }
}

.m-header__list_active {
  background-color: #384878;
}

.ml-header__favorites {
  display: block;
  float: left;
  height: 30px;
  width: 38px;
  margin: 0 0 0 15px;
  background: url('@{img}/icon-header-favorites.svg') center 6px no-repeat;
  border-radius: 4px;

  &:hover {
    .m-header__favorites_active;
  }
}

.m-header__favorites_active {
  background-color: #384878;
}

.ml-header__user {
  float: right;
  height: 30px;
  border-radius: 4px;
  overflow: hidden;
}

.ml-header__user-settings {
  min-width: 200px;
  display: block;
  float: left;
  height: 30px;
  padding: 0 15px 0 15px;
  color: #FFFFFF;
  font-size: 15px;
  font-family: 'roboto_bold';
  line-height: 28px;
  background-color: #4E70A6;
  text-decoration: none;

  &:hover, &:visited, &:focus {
    color: #FFFFFF;
    text-decoration: none;
  }
}



.ml-header__user-logout {
  display: block;
  float: left;
  height: 30px;
  width: 31px;
  /*
      background: url('@{img}/icon-header-loguot.svg') center center no-repeat;
  */
  background-color: #384878;
  cursor: pointer;
  color: lightgray;
  font-size: 19px;
  top: 0;
  padding-left: 6px;
  padding-top: 4px;
}


.ml-header__user-help {
  display: block;
  float: left;
  height: 30px;
  width: 31px;
  /*
      background: url('@{img}/icon-header-loguot.svg') center center no-repeat;
  */
  background-color: #384878;
  cursor: pointer;
  color: lightgray;
  font-size: 19px;
  top: 0;
  padding-left: 6px;
  padding-top: 4px;
}

/*=====================================
	content
=====================================*/

/*=====================================
	footer
=====================================*/
.ml-footer__logo {
  position: fixed;
  right: 12px;
  bottom: 12px;
  width: 80px;
  height: 80px;
  background-image: url('@{img}/icon-footer-logo.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  border-radius: 40px;
}