/* Edit section */

.attribute-edit-file {
  .field-file {
    padding: 5px 0;
  }
}

/* Extend Bootstrap buttons, add button as file input*/
.btn-file {
  position: relative;
  overflow: hidden;

  input[type="file"] {
    position: absolute;
    top: -7px;
    bottom: -8px;
    right: -20px;
    min-width: 100%;
    min-height: 100%;
    width: 40px;
    height: 34px;
    font-size: 100px;
    text-align: right;
    .opacity(0);
    outline: none;
    background: white;
    cursor: pointer;
    font-size: 0;
    display: block;
  }
}