/* View section */

.attribute-view-gallery {
  .gallery {
    .thumbnail {
      .holder {
        background-size: cover;
        background-position: center center;
        height: 130px;
      }
    }
  }

  .gallery-modal {
    .gallery-controls {
      margin-top: 30px;
    }
  }
}

/* Override bootstrap modal */
@media (min-width: 992px) {

  .modal-lg .img-responsive {
    margin: 0 auto;
  }
}