/* View section */

/* Edit section */

.attribute-edit-image_file {
  .preview-handler {
    margin-bottom: 5px;
  }

  /* Image field dropzone*/
  .image-drop-zone {
    width: 100%;
    height: 100px;
    display: block;
    border: 2px dashed #CCCCCC;
    .rounded(4px);
    margin: 5px 0px;
    background: #fff;
    cursor: pointer;

    &.over {
      border: 2px dashed #919191;
      background: #f0f0f0;
    }

    .drop-zone-text {
      line-height: 100px;
      text-align: center;
    }

    input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      .opacity(0);
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
    }

  }

}