/* Edit section */
.attribute-edit-photo_file {
  .attribute-edit-image_file;

  .buttonPhoto {
    display: block;
    background: none;
    border: none;
    line-height: 80px;
    font-size: 60px;
    margin-top: 10px;
    color: #CCCCCC;
  }
}

.photomask {
  background: url('@{images}/photomask.png') center center;
  display: none;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 5px;
}


/* Global styles appended to page */

#photo {
  &.ui-dialog-content {
    #maskControl {
      padding-left: 20px;
      padding-top: 0;

      #showMask {
        margin-top: 2px;
      }
    }


  }
}

#camWindow {
  #take-cam-image {
    font-size: 1.6em;
    display: none;
  }
}

.ui-dialog-titlebar-close {
  span.ui-button-text {
    display: none;
  }

  &:after {
    font-family: 'Glyphicons Halflings';
    content: "\e014";
    display: block;
    margin-top: 10px;
  }
}

.ui-widget-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.3;
}