.attribute-edit-string-kladr {
  .search-run {
    animation-name: rotate; //defined in mixin/animations
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-top: -28px;
    margin-right: 10px;
    display: none;
  }
}