/* Fix reset.css */
.attribute-view-flat_text, .attribute-view-text {
  .field-text {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;

    b, strong {
      font-weight: bold;
      font-style: inherit;
    }

    em {
      font-style: italic;
    }

    p {
      margin-bottom: 10px;
    }

    ol, ul {
      padding-left: 40px;
      margin-bottom: 10px;
    }

    ol li {
      list-style: decimal;
    }

    ul li {
      list-style: disc;
    }

    blockquote {
      padding: 10px 20px;
      margin: 0 0 20px;
      font-size: 14px;
    }
  }
}


