<div class="ml-main__content-folder"
    <% if(folder.icon && folder.icon.indexOf('/') != -1) { %>
    style="background: url('<%= folder.icon %>') top center no-repeat;"
    <% }%>
    >
<%=folder.text%>
</div>