/*
Mandatory fields & groups
*/

.ml-mandatory-group {

}

.mandatory-label:after {
    content:" ●";
    color:#FF8C8C;
    font-weight: lighter;
}

.highlight-mandatory-label {
    color:#FF8C8C;
}


.attr-view-popover-icon {
    padding: 0px 5px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 10px;
    line-height: 16px;
    font-size: 10px;
    background: #E0EDF7;
    color: #7EA7D4;
    cursor: pointer;
    outline: none;
}

/* Override bootstrap fieldset */

fieldset {
    border: 1px solid #D3D0D0;
    padding: 10px;

    legend {
        border: 0;
        font-size: 1.1em;
        width: auto;
        display: inline-block;
        margin-left: 10px;
        color: #333333;
    }
}

.popover {
    /* Enable full width of Bootstrap.popover with large text*/
    max-width: 100%;
}