/*
	.ml-main__content-class
*/

.ml-main__content-class {
    margin: 0 0 -88px 0;
}

.ml-main__content-class-form {
    display: block;
    margin: 0 -20px 0 -20px;
    padding: 0 0 0 20px;
}

.ml-main__content-class-form-item {
    /*	clear: both;*/
    position: relative;
    height: 36px;
    margin: 0 0 5px 0;
    color: #485166;
}

.m-main__content-class-form-item_table,
.m-main__content-class-form-item_table.col-xs-12 {
    height: auto;
    margin: 7px 0 20px -20px;
    padding: 10px 20px 15px 20px;
    background-color: #F0F6FB;
}

.m-main__content-class-form-item_date,
.m-main__content-class-form-item_number {
    position: relative;
}

.m-main__content-class-form-item_tabs,
.m-main__content-class-form-item_tabs.col-xs-12 {
    clear: both;
    position: relative;
    height: auto;
    width: 100%;
    padding-left: 0;
    padding-right: 20px;
}

.ml-main__content-class-form-item-tabs-top {
    height: 40px;
}

.ml-main__content-class-form-item-tabs-top-tab {
    float: left;
    height: 45px;
    margin: 0 10px 0 0;
    padding: 0 25px 0 25px;
    color: #4D77B7;
    font-size: 14px;
    font-family: 'roboto_bold';
    line-height: 40px;
    background-color: #DBE4F1;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
}

.ml-main__content-class-form-item-tabs-top-tab:hover {
    background-color: #BEC7D4;
}

.m-main__content-class-form-item-tabs-top-tab_active {
    color: #FFFFFF;
    background-color: #2E4D9B;
}

.m-main__content-class-form-item-tabs-top-tab_active:hover {
    background-color: #4669C2;
}

.ml-main__content-class-form-item-tabs-bottom {
    position: relative;
    min-height: 120px;
    padding: 25px 20px 0 25px;
    background-color: #FFFFFF;
    border: 1px solid #DBE4F1;
    border-radius: 4px;
}

.ml-main__content-class-form-item-tabs-bottom-tab {
    display: none;
}

.ml-main__content-class-form-tab-item {
    position: relative;
    height: 36px;
    margin: 0 0 5px 0;
    color: #485166;
}

.ml-main__content-class-form-item-title {
    float: left;
    width: 154px;
    height: 30px;
    margin: 1px 0 1px 0;
    line-height: 30px;
}

.m-main__content-class-form-item_table .ml-main__content-class-form-item-title {
    margin: 0 0 14px 0;
    font-family: 'roboto_bold';
}

.ml-main__content-class-form-item-title span {
    display: none;
    color: #FF8C8C;
}

.m-main__content-class-form-item_required .ml-main__content-class-form-item-title span {
    display: inline;
}

.ml-main__content-class-form-item-input {
    display: block;
    float: left;
    width: 226px;
    height: 34px;
    padding: 0 10px 0 10px;
    border: 1px solid #E3EFF7;
    border-radius: 3px;
}



.ml-main__content-class-form-item-date {
    position: absolute;
    display: block;
    top: 0;
    left: 344px;
    height: 34px;
    width: 34px;
    background: url('@{img}/icon-main-content-class-date.svg') center center no-repeat;
    cursor: pointer;

    .ml-main__content-class-form-item-input {
        padding: 0 34px 0 10px;
    }
}

.m-main__content-class-form-item_number .ml-main__content-class-form-item-input {
    width: 85px;
    text-align: center;
}

.ml-main__content-class-form-item-number-dec {
    position: absolute;
    display: block;
    top: 0;
    left: 160px;
    height: 34px;
    width: 8px;
    background: url('@{img}/icon-main-content-class-number-dec.svg') center center no-repeat;
    cursor: pointer;
}

.ml-main__content-class-form-item-number-inc {
    position: absolute;
    display: block;
    top: 0;
    left: 225px;
    height: 34px;
    width: 8px;
    background: url('@{img}/icon-main-content-class-number-inc.svg') center center no-repeat;
    cursor: pointer;
}

.ml-main__content-class-form-item-menu {
    float: left;
    height: 34px;

    .create-dropdown {
        float: left;

        .dropdown-menu {
            li {
                a {
                    cursor: pointer;
                }
            }
        }
    }
}

.ml-main__content-class-form-item-menu-item {
    float: left;
    width: 34px;
    height: 34px;
    margin: 0 4px 0 0;
    background-color: #E0EDF7;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 3px;
    cursor: pointer;

    &.inactive-button {
        pointer-events: none;
        cursor: not-allowed;
        .opacity(.65);
        .box-shadow(none);
    }

    &:hover {
        background-color: #C8DAE8;
    }
}

.m-main__content-class-form-item-menu-item_move-down{
    background-image: url('@{img}/icon-main-content-class-menu-down.svg');
}

.m-main__content-class-form-item-menu-item_add {
    background-image: url('@{img}/icon-main-content-class-menu-add.svg');
}

.m-main__content-class-form-item-menu-item_search {
    background-image: url('@{img}/icon-main-content-class-menu-search.svg');
}

.m-main__content-class-form-item-menu-item_remove {
    background-image: url('@{img}/icon-main-content-class-menu-remove.svg');
}
.m-main__content-class-form-item-menu-item_right{
    background-image: url('@{img}/icon-main-content-class-menu-right.svg');
}
.m-main__content-class-form-item-menu-item_fold {
    background-image: url('@{img}/icon-main-content-class-menu-fold.svg');
}

.btnDelete{
    float: right;
    height: 40px;
    margin: 0 0 16px 0;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 38px;
    background-color: #b33e1e;
    border-bottom: 1px solid #446F5F;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    font-family: 'Glyphicons Halflings';
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 10px;

    &:hover {
        background-color: #c21009;
    }

    &.disabled {
        pointer-events: none;
        cursor: not-allowed;
        .opacity(.65);
        .box-shadow(none);
    }
}

.btnClose{
    float: right;
    height: 40px;
    margin: 0 0 16px 0;
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'roboto_bold';
    line-height: 38px;
    background-color: #286090;
    border-bottom: 1px solid #446F5F;
    .rounded(4px);
    overflow: hidden;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;

    &:hover {
        background-color: #3d05c2;
    }
}
.btnCreate {
    float: right;
    height: 40px;
    margin: 0 0 16px 0;
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'roboto_bold';
    line-height: 38px;
    background-color: #29B373;
    border-bottom: 1px solid #446F5F;
    .rounded(4px);
    overflow: hidden;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;

    &:hover {
        background-color: #2DC27C;
    }
}

.btnCreateDropdown {
    .btn-success {
        height: 40px;
        font-size: 15px;
        font-family: 'roboto_bold';
        padding-left: 10px;
        padding-right: 10px;
        background-color: #29B373;
        border-bottom: 1px solid #446F5F;

        &.dropdown-toggle {
            background-color: #29B373;
            &:hover {
                background-color:  #29B373;
            }
        }
    }
}



.ml-main__content-class-form-controls-submit {
    float: right;
    height: 40px;
    margin: 0 0 16px 0;
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'roboto_bold';
    line-height: 38px;
    background-color: #29B373;
    border-bottom: 1px solid #446F5F;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;

    .btnSaveAndClose{
        float: right;
        border-left: 1px solid #2d6f06;
        padding-left: 10px;
        line-height: 38px;
        padding-right: 10px;

        &:hover {
            background-color: #2DC27C;
        }
    }

    .btnSave{
        float: left;
        padding-left: 20px;
        padding-right: 20px;

        &:hover {
            background-color: #2DC27C;
        }
    }
}

					
					