/* Переменные */
/* Mixins */
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@keyframes rotate {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
/* Class-helper for default rotate animation*/
.animation-rotate {
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
/* Шрифты */
/*
	Roboto Thin
*/
@font-face {
  font-family: 'roboto_thin';
  src: url('../fonts/roboto-thin.ttf');
}
/*
	Roboto Light
*/
@font-face {
  font-family: 'roboto_light';
  src: url('../fonts/roboto-light.ttf');
}
/*
	Roboto Regular
*/
@font-face {
  font-family: 'roboto_regular';
  src: url('../fonts/roboto-regular.ttf');
}
/*
	Roboto Bold
*/
@font-face {
  font-family: 'roboto_bold';
  src: url('../fonts/roboto-bold.ttf');
}
/*
	Roboto Italic
*/
@font-face {
  font-family: 'roboto_italic';
  src: url('../fonts/roboto-italic.ttf');
}
/*
	Segoe UI Bold
*/
@font-face {
  font-family: 'segoe-ui_bold';
  src: url("../fonts/segoe-ui-bold.eot");
  src: url("../fonts/segoe-ui-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/segoe-ui-bold.woff") format("woff"), url("../fonts/segoe-ui-bold.ttf") format("truetype");
}
/* Основной layout */
/* Yahoo! reset css system */
/*
Copyright (c) 2010, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 3.3.0
build: 3167
*/
html {
  color: #000;
  background: #FFF;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
input,
textarea,
select {
  *font-size: 100%;
}
legend {
  color: #000;
}
html {
  min-height: 100%;
  height: 100%;
}
body {
  min-width: 1330px;
  /* TEMP!! */
  min-height: 100%;
  background: url('../img/bg-content.jpg') left top no-repeat;
  background-size: 100% 100%;
}
.l-header {
  min-width: 990px;
  height: 60px;
}
.l-content {
  /* min-height: 600px; /* TEMP!! http://213.221.6.127/pm/loyalty_development/I-8801 */
  padding: 0 20px 15px 15px;
  font-family: 'roboto_regular';
  overflow: auto;
}
.l-footer {
  min-width: 990px;
}
/*=====================================
	header
=====================================*/
.ml-header {
  /*width: 100%;*/
  height: 30px;
  padding: 15px 20px 15px 20px;
}
.ml-header__title {
  display: block;
  float: left;
  margin: 0 0 0 20px;
  color: #FFFFFF;
  font-size: 25px;
  font-family: 'segoe-ui_bold';
  line-height: 28px;
  text-decoration: none;
}
.ml-header__title:hover,
.ml-header__title:visited,
.ml-header__title:focus {
  color: #FFFFFF;
  text-decoration: none;
}
.ml-header__list {
  display: block;
  float: left;
  height: 30px;
  width: 38px;
  margin: 0 0 0 27px;
  background: url('../img/icon-header-list.svg') center 8px no-repeat;
  border-radius: 4px;
}
.ml-header__list:hover {
  background-color: #384878;
}
.m-header__list_active {
  background-color: #384878;
}
.ml-header__favorites {
  display: block;
  float: left;
  height: 30px;
  width: 38px;
  margin: 0 0 0 15px;
  background: url('../img/icon-header-favorites.svg') center 6px no-repeat;
  border-radius: 4px;
}
.ml-header__favorites:hover {
  background-color: #384878;
}
.m-header__favorites_active {
  background-color: #384878;
}
.ml-header__user {
  float: right;
  height: 30px;
  border-radius: 4px;
  overflow: hidden;
}
.ml-header__user-settings {
  min-width: 200px;
  display: block;
  float: left;
  height: 30px;
  padding: 0 15px 0 15px;
  color: #FFFFFF;
  font-size: 15px;
  font-family: 'roboto_bold';
  line-height: 28px;
  background-color: #4E70A6;
  text-decoration: none;
}
.ml-header__user-settings:hover,
.ml-header__user-settings:visited,
.ml-header__user-settings:focus {
  color: #FFFFFF;
  text-decoration: none;
}
.ml-header__user-logout {
  display: block;
  float: left;
  height: 30px;
  width: 31px;
  /*
      background: url('@{img}/icon-header-loguot.svg') center center no-repeat;
  */
  background-color: #384878;
  cursor: pointer;
  color: lightgray;
  font-size: 19px;
  top: 0;
  padding-left: 6px;
  padding-top: 4px;
}
.ml-header__user-help {
  display: block;
  float: left;
  height: 30px;
  width: 31px;
  /*
      background: url('@{img}/icon-header-loguot.svg') center center no-repeat;
  */
  background-color: #384878;
  cursor: pointer;
  color: lightgray;
  font-size: 19px;
  top: 0;
  padding-left: 6px;
  padding-top: 4px;
}
/*=====================================
	content
=====================================*/
/*=====================================
	footer
=====================================*/
.ml-footer__logo {
  position: fixed;
  right: 12px;
  bottom: 12px;
  width: 80px;
  height: 80px;
  background-image: url('../img/icon-footer-logo.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  border-radius: 40px;
}
/* Компоненты приложения */
/* Breadcrumb Styles
 ---------------------------------------------------------------------*/
.breadCrumb {
  display: block;
  float: left;
  width: 100%;
  overflow: hidden;
}
.breadCrumb .BreadcrumbsView {
  overflow: hidden;
  position: relative;
}
.breadCrumb .BreadcrumbsView .last {
  background-size: 0px;
}
.breadCrumb .BreadcrumbsView .active {
  font-weight: bold;
}
.breadCrumb .BreadcrumbsView .ghost {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
  filter: alpha(opacity=60);
}
.breadCrumb .BreadcrumbsView ul {
  display: block;
  height: 60px;
}
.breadCrumb .BreadcrumbsView ul li {
  display: block;
  float: left;
  position: relative;
  height: 40px;
  margin: 0px 10px 0px 0;
  padding: 0px 25px 0px 0;
  color: #FFFFFF;
  font-size: 15px;
  line-height: 40px;
  background-image: url('../img/icon-main-header-delimiter.svg');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: auto 30%;
  overflow: hidden;
}
.breadCrumb .BreadcrumbsView ul li div.chevronOverlay {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  display: none;
  background-image: url('../img/icon-main-header-delimiter.svg');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: auto 30%;
  width: 20px;
  height: 40px;
}
.breadCrumb .BreadcrumbsView ul li span {
  display: block;
  overflow: hidden;
}
.breadCrumb .BreadcrumbsView ul li a {
  display: block;
  position: relative;
  float: left;
  height: 40px;
  color: #FFFFFF;
  line-height: 40px;
  overflow: hidden;
}
.breadCrumb .BreadcrumbsView ul li.first a {
  height: 40px !important;
  width: 40px;
  background-color: #384878;
  background-image: url('../img/icon-main-header-home.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  overflow: hidden;
}
.breadCrumb .BreadcrumbsView ul li.last {
  margin-right: 0;
  padding-right: 0;
  background: none;
  cursor: default;
}
/*
	.ml-main
*/
.ml-main {
  border-radius: 4px;
  overflow: hidden;
}
.ml-main .ml-main__header {
  position: relative;
  height: 40px;
}
.ml-main .ml-main__header .ml-main__header-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #EAF0FF;
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  -webkit-opacity: 0.2;
  opacity: 0.2;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
  filter: alpha(opacity=20);
}
.ml-main .m-main__header_breadcrumbs {
  height: 40px;
}
.ml-main .ml-main__content {
  position: relative;
  padding: 20px 20px 68px 20px;
  background-color: #FFFFFF;
  /* todo: move to .ml-main__content-actions ? */
}
.ml-main .ml-main__content .upper-folder {
  background: url('../img/icon-main-content-top-title.svg') left center no-repeat;
  width: 75px;
  height: 40px;
  background-size: 40px;
  float: left;
  cursor: pointer;
}
.ml-main .ml-main__content .ml-main__content-title {
  float: left;
  margin: 0 0 10px 0;
  cursor: pointer;
}
.ml-main .ml-main__content .ml-main__content-title .ml-main__content-title-text {
  float: left;
  max-width: 90%;
  padding: 0 30px 0 0;
  color: #405FA8;
  font-size: 30px;
  font-family: 'roboto_thin';
  line-height: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.ml-main .ml-main__content .ml-main__content-title .ml-main__content-title-items {
  float: left;
  height: 32px;
  margin: 8px 0 0 0;
  padding: 0 12px 0 12px;
  color: #567FD0;
  font-size: 16px;
  line-height: 32px;
  background-color: #EAF3FF;
  border-radius: 13px;
}
.ml-main .ml-main__content .ml-main__content-actions {
  position: relative;
  float: right;
}
.ml-main .ml-main__content .ml-main__content-actions:hover {
  cursor: pointer;
}
.ml-main .ml-main__content .ml-main__content-actions .ml-main__content-actions-title {
  min-width: 180px;
  height: 40px;
  padding: 0 0 0 17px;
  color: #FFFFFF;
  font-size: 15px;
  font-family: 'roboto_bold';
  line-height: 38px;
  background: url('../img/icon-main-content-top-actions.svg') 155px 18px no-repeat;
  background-color: #94A3C1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-bottom: 1px solid #565F6E;
}
.ml-main .ml-main__content .ml-main__content-edit {
  float: right;
  height: 40px;
  margin: 0 0 16px 0;
  padding: 0 22px 0 22px;
  color: #FFFFFF;
  font-size: 15px;
  font-family: 'roboto_bold';
  line-height: 38px;
  background-color: #29B373;
  border-bottom: 1px solid #446F5F;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  margin-right: 5px;
}
.ml-main .ml-main__content .ml-main__content-logo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 165px;
  height: 68px;
  color: #999999;
  font-size: 10px;
  font-family: 'roboto_light';
  line-height: 66px;
  text-align: center;
  /*
            background: url('@{img}/icon-main-content-logo.svg') 112px top no-repeat;
            */
}
.ml-main .ml-main__content .ml-main__content-delimiter {
  clear: both;
  width: 100%;
  height: 1px;
  margin: 0 0 10px 0;
}
/*fixme: deprecated ?*/
.ml-main__content-add-folder {
  float: right;
  height: 40px;
  border-radius: 4px;
  overflow: hidden;
  border-bottom: 1px solid #446F5F;
  cursor: pointer;
}
.ml-main__content-add-folder:active {
  margin: 21px 0 0 0;
  border-bottom: none;
}
/*fixme: deprecated ?*/
.ml-main__content-add-folder-icon {
  float: left;
  width: 40px;
  height: 40px;
  background-color: #26A66A;
  background-image: url('../img/icon-main-content-top-add.svg');
  background-position: center center;
  background-repeat: no-repeat;
}
/*fixme: deprecated ?*/
.ml-main__content-add-folder-title {
  float: left;
  height: 40px;
  padding: 0 22px 0 22px;
  color: #FFFFFF;
  font-size: 15px;
  font-family: 'roboto_bold';
  line-height: 38px;
  background-color: #29B373;
}
/*fixme: deprecated ?*/
.m-main__content-actions_object {
  margin-top: 0;
  margin-bottom: 16px;
}
/*fixme: deprecated ?*/
.ml-main__content-actions-list {
  display: none;
  position: absolute;
  margin: 3px 0 0 0;
  padding: 6px 11px 6px 11px;
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 0 12px -4px #1a2542;
  z-index: 2;
}
/*fixme: deprecated ?*/
.ml-main__content-actions:hover .ml-main__content-actions-list {
  display: block;
}
/*fixme: deprecated ?*/
.ml-main__content-actions-list li {
  display: block;
  height: 24px;
  padding: 0 0 0 23px;
  color: #2E4D9B;
  font-size: 14px;
  line-height: 24px;
  background-position: left center;
  background-repeat: no-repeat;
}
/*fixme: deprecated ?*/
.m-main__content-actions-list_reinitial {
  background-image: url('../img/icon-main-content-top-actions-list-reinitial.svg');
}
/*fixme: deprecated ?*/
.m-main__content-actions-list_log {
  background-image: url('../img/icon-main-content-top-actions-list-log.svg');
}
/*fixme: deprecated ?*/
.m-main__content-actions-list_export {
  background-image: url('../img/icon-main-content-top-actions-list-export.svg');
}
/*fixme: deprecated ?*/
.ml-main__content-advanced-search {
  float: right;
  height: 40px;
  margin: 16px 20px 0 0;
  padding: 0 22px 0 22px;
  color: #FFFFFF;
  font-size: 15px;
  font-family: 'roboto_bold';
  line-height: 38px;
  background: url('../img/icon-main-content-top-actions.svg') 155px 18px no-repeat;
  background-color: #94A3C1;
  border-radius: 4px;
  border-bottom: 1px solid #565F6E;
  cursor: pointer;
}
.ml-main__content-advanced-search:active {
  margin: 21px 20px 0 0;
  border-bottom: none;
}
/* todo: move */
/* Dropdown menu icon on right side fix */
.dropdown-menu li a.icon-right {
  position: relative;
  padding-right: 30px;
}
.dropdown-menu li a.icon-right .glyphicon {
  position: absolute;
  top: 3px;
  right: 10px;
}
/* todo: move */
.one-many-text-container {
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: auto;
}
.one-many-text-container.collapsed {
  height: 100px;
}
.one-many-text-control {
  cursor: pointer;
}
/*
	.ml-list
*/
.ml-list {
  display: block;
  float: left;
  width: 300px;
  margin: 0 20px 0 0;
  padding: 10px 10px 0 0;
  color: #D3DEFF;
}
.jstree-node {
  position: relative;
}
.m-list__item_lowest_lvl a {
  font-size: 13px;
  line-height: 21px;
}
.m-list__item_lowest_lvl a .jstree-icon.jstree-ocl {
  height: 21px;
}
.m-list__item_lowest_lvl a span {
  display: block;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.jstree-icon.jstree-ocl {
  position: relative;
  display: block;
  float: left;
  height: 30px;
  width: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
}
.jstree-closed > .jstree-icon.jstree-ocl {
  background-image: url('../img/icon-list-item.svg');
  background-size: 5px;
}
.jstree-open > .jstree-icon.jstree-ocl {
  background-image: url('../img/icon-list-item-selected.svg');
  background-size: 10px;
}
.jstree-anchor {
  color: #D3DEFF;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
  margin-left: 20px;
  display: block;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.jstree-anchor .jstree-icon {
  display: none;
  width: 25px;
  height: 25px;
  background-size: cover;
  margin-right: 10px;
  margin-top: -5px;
  position: absolute;
  right: 0;
}
.jstree-anchor:focus,
.jstree-anchor:hover {
  outline: none;
  color: #D3DEFF;
}
.jstree-anchor:hover .jstree-icon:not(.glyphicon) {
  display: inline-block;
}
.jstree-open > .jstree-anchor {
  color: #FFE29B;
  font-weight: bold;
}
.jstree-open > .jstree-anchor:hover {
  color: #FFEAB5;
}
.jstree-children {
  position: relative;
  margin: 0 0 0 20px;
  z-index: 1;
}
.ml-list__item-title {
  position: relative;
  z-index: 1;
}
.ml-list__bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  border-radius: 4px;
  opacity: 0.2;
  z-index: 0;
}
.jstree-open .ml-list__bg {
  display: block;
}
.jstree-open .ml-list__close {
  display: block;
}
.ml-list__close {
  display: none;
  position: absolute;
  top: 4px;
  right: 10px;
  height: 20px;
  width: 20px;
  background-image: url('../img/icon-list-item-foldup.svg');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 1;
}
.jstree-clicked {
  color: #ffff00 !important;
}
.jstree-clicked:focus,
.jstree-clicked:hover {
  outline: none;
  color: #D3DEFF;
}
/* Редактирование объектов в таблице */
.table-inline-edit input {
  min-width: 100px;
}
table.ml-main__content-table th {
  position: relative;
}
table.ml-main__content-table th.disabled-simple {
  padding-right: 30px;
}
table.ml-main__content-table th.disabled-simple:before {
  content: "\e003";
  width: 20px;
  height: 20px;
  color: #817B7B;
  position: absolute;
  top: 9px;
  right: 0;
  display: inline-block;
  font-size: 10px;
  font-family: 'Glyphicons Halflings';
}
table.ml-main__content-table th.disabled-simple:after {
  content: "\e090";
  width: 20px;
  height: 20px;
  color: rgba(203, 69, 41, 0.5);
  position: absolute;
  top: 9px;
  right: 4px;
  display: inline-block;
  font-size: 17px;
  font-family: 'Glyphicons Halflings';
}
/*
	.ml-main__content-class
*/
.ml-main__content-class {
  margin: 0 0 -88px 0;
}
.ml-main__content-class-form {
  display: block;
  margin: 0 -20px 0 -20px;
  padding: 0 0 0 20px;
}
.ml-main__content-class-form-item {
  /*	clear: both;*/
  position: relative;
  height: 36px;
  margin: 0 0 5px 0;
  color: #485166;
}
.m-main__content-class-form-item_table,
.m-main__content-class-form-item_table.col-xs-12 {
  height: auto;
  margin: 7px 0 20px -20px;
  padding: 10px 20px 15px 20px;
  background-color: #F0F6FB;
}
.m-main__content-class-form-item_date,
.m-main__content-class-form-item_number {
  position: relative;
}
.m-main__content-class-form-item_tabs,
.m-main__content-class-form-item_tabs.col-xs-12 {
  clear: both;
  position: relative;
  height: auto;
  width: 100%;
  padding-left: 0;
  padding-right: 20px;
}
.ml-main__content-class-form-item-tabs-top {
  height: 40px;
}
.ml-main__content-class-form-item-tabs-top-tab {
  float: left;
  height: 45px;
  margin: 0 10px 0 0;
  padding: 0 25px 0 25px;
  color: #4D77B7;
  font-size: 14px;
  font-family: 'roboto_bold';
  line-height: 40px;
  background-color: #DBE4F1;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
}
.ml-main__content-class-form-item-tabs-top-tab:hover {
  background-color: #BEC7D4;
}
.m-main__content-class-form-item-tabs-top-tab_active {
  color: #FFFFFF;
  background-color: #2E4D9B;
}
.m-main__content-class-form-item-tabs-top-tab_active:hover {
  background-color: #4669C2;
}
.ml-main__content-class-form-item-tabs-bottom {
  position: relative;
  min-height: 120px;
  padding: 25px 20px 0 25px;
  background-color: #FFFFFF;
  border: 1px solid #DBE4F1;
  border-radius: 4px;
}
.ml-main__content-class-form-item-tabs-bottom-tab {
  display: none;
}
.ml-main__content-class-form-tab-item {
  position: relative;
  height: 36px;
  margin: 0 0 5px 0;
  color: #485166;
}
.ml-main__content-class-form-item-title {
  float: left;
  width: 154px;
  height: 30px;
  margin: 1px 0 1px 0;
  line-height: 30px;
}
.m-main__content-class-form-item_table .ml-main__content-class-form-item-title {
  margin: 0 0 14px 0;
  font-family: 'roboto_bold';
}
.ml-main__content-class-form-item-title span {
  display: none;
  color: #FF8C8C;
}
.m-main__content-class-form-item_required .ml-main__content-class-form-item-title span {
  display: inline;
}
.ml-main__content-class-form-item-input {
  display: block;
  float: left;
  width: 226px;
  height: 34px;
  padding: 0 10px 0 10px;
  border: 1px solid #E3EFF7;
  border-radius: 3px;
}
.ml-main__content-class-form-item-date {
  position: absolute;
  display: block;
  top: 0;
  left: 344px;
  height: 34px;
  width: 34px;
  background: url('../img/icon-main-content-class-date.svg') center center no-repeat;
  cursor: pointer;
}
.ml-main__content-class-form-item-date .ml-main__content-class-form-item-input {
  padding: 0 34px 0 10px;
}
.m-main__content-class-form-item_number .ml-main__content-class-form-item-input {
  width: 85px;
  text-align: center;
}
.ml-main__content-class-form-item-number-dec {
  position: absolute;
  display: block;
  top: 0;
  left: 160px;
  height: 34px;
  width: 8px;
  background: url('../img/icon-main-content-class-number-dec.svg') center center no-repeat;
  cursor: pointer;
}
.ml-main__content-class-form-item-number-inc {
  position: absolute;
  display: block;
  top: 0;
  left: 225px;
  height: 34px;
  width: 8px;
  background: url('../img/icon-main-content-class-number-inc.svg') center center no-repeat;
  cursor: pointer;
}
.ml-main__content-class-form-item-menu {
  float: left;
  height: 34px;
}
.ml-main__content-class-form-item-menu .create-dropdown {
  float: left;
}
.ml-main__content-class-form-item-menu .create-dropdown .dropdown-menu li a {
  cursor: pointer;
}
.ml-main__content-class-form-item-menu-item {
  float: left;
  width: 34px;
  height: 34px;
  margin: 0 4px 0 0;
  background-color: #E0EDF7;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 3px;
  cursor: pointer;
}
.ml-main__content-class-form-item-menu-item.inactive-button {
  pointer-events: none;
  cursor: not-allowed;
  -moz-opacity: 0.65;
  -khtml-opacity: 0.65;
  -webkit-opacity: 0.65;
  opacity: 0.65;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=65);
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.ml-main__content-class-form-item-menu-item:hover {
  background-color: #C8DAE8;
}
.m-main__content-class-form-item-menu-item_move-down {
  background-image: url('../img/icon-main-content-class-menu-down.svg');
}
.m-main__content-class-form-item-menu-item_add {
  background-image: url('../img/icon-main-content-class-menu-add.svg');
}
.m-main__content-class-form-item-menu-item_search {
  background-image: url('../img/icon-main-content-class-menu-search.svg');
}
.m-main__content-class-form-item-menu-item_remove {
  background-image: url('../img/icon-main-content-class-menu-remove.svg');
}
.m-main__content-class-form-item-menu-item_right {
  background-image: url('../img/icon-main-content-class-menu-right.svg');
}
.m-main__content-class-form-item-menu-item_fold {
  background-image: url('../img/icon-main-content-class-menu-fold.svg');
}
.btnDelete {
  float: right;
  height: 40px;
  margin: 0 0 16px 0;
  color: #FFFFFF;
  font-size: 15px;
  line-height: 38px;
  background-color: #b33e1e;
  border-bottom: 1px solid #446F5F;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  font-family: 'Glyphicons Halflings';
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 10px;
  margin-right: 10px;
}
.btnDelete:hover {
  background-color: #c21009;
}
.btnDelete.disabled {
  pointer-events: none;
  cursor: not-allowed;
  -moz-opacity: 0.65;
  -khtml-opacity: 0.65;
  -webkit-opacity: 0.65;
  opacity: 0.65;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=65);
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btnClose {
  float: right;
  height: 40px;
  margin: 0 0 16px 0;
  color: #FFFFFF;
  font-size: 15px;
  font-family: 'roboto_bold';
  line-height: 38px;
  background-color: #286090;
  border-bottom: 1px solid #446F5F;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
}
.btnClose:hover {
  background-color: #3d05c2;
}
.btnCreate {
  float: right;
  height: 40px;
  margin: 0 0 16px 0;
  color: #FFFFFF;
  font-size: 15px;
  font-family: 'roboto_bold';
  line-height: 38px;
  background-color: #29B373;
  border-bottom: 1px solid #446F5F;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}
.btnCreate:hover {
  background-color: #2DC27C;
}
.btnCreateDropdown .btn-success {
  height: 40px;
  font-size: 15px;
  font-family: 'roboto_bold';
  padding-left: 10px;
  padding-right: 10px;
  background-color: #29B373;
  border-bottom: 1px solid #446F5F;
}
.btnCreateDropdown .btn-success.dropdown-toggle {
  background-color: #29B373;
}
.btnCreateDropdown .btn-success.dropdown-toggle:hover {
  background-color: #29B373;
}
.ml-main__content-class-form-controls-submit {
  float: right;
  height: 40px;
  margin: 0 0 16px 0;
  color: #FFFFFF;
  font-size: 15px;
  font-family: 'roboto_bold';
  line-height: 38px;
  background-color: #29B373;
  border-bottom: 1px solid #446F5F;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}
.ml-main__content-class-form-controls-submit .btnSaveAndClose {
  float: right;
  border-left: 1px solid #2d6f06;
  padding-left: 10px;
  line-height: 38px;
  padding-right: 10px;
}
.ml-main__content-class-form-controls-submit .btnSaveAndClose:hover {
  background-color: #2DC27C;
}
.ml-main__content-class-form-controls-submit .btnSave {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.ml-main__content-class-form-controls-submit .btnSave:hover {
  background-color: #2DC27C;
}
/*
	.ml-main__content-folders
*/
.open-object-button {
  top: 3px;
}
.ml-main__content-folders {
  padding: 0 0 0 0;
}
.ml-main__content-folder {
  float: left;
  height: 45px;
  width: 175px;
  padding-top: 80px;
  margin-bottom: 25px;
  color: #6E6E6E;
  font-size: 16px;
  /*background-image: url('../../img/icon-main-content-folders-folder.svg');*/
  background-position: center top;
  background-repeat: no-repeat;
  text-align: center;
  cursor: pointer;
}
.ml-main__content-folder:hover {
  color: #8A8A8A;
}
.ml-main__common-folder {
  background-image: url('../img/icon-main-content-folders-folder.svg');
  box-sizing: initial;
  position: relative;
}
.ml-main__common-folder:hover {
  background-color: #D8E2FF;
}
.m-main__content-folder_type_documents {
  background-image: url('../img/icon-main-content-folders-document.svg');
}
.m-main__content-folder_type_directories {
  background-image: url('../img/icon-main-content-folders-directory.svg');
}
.ml-main__content-folder span {
  margin: 0 0 0 6px;
  color: #9CADCD;
}
.ml-main__content-folder:hover span {
  color: #A6BADE;
}
.pagination {
  margin: 0 !important;
}
.pagination-detail {
  border-radius: 4px;
  background-color: #ECF4FA;
}
.pagination-detail .pagination-info {
  margin-right: 10px;
}
/*
	.ml-favorites
*/
.ml-favorites {
  display: none;
  float: left;
  width: 260px;
  margin: 0 20px 0 0;
  padding: 20px 10px 0 20px;
}
.ml-favorites__item {
  display: block;
  height: 34px;
  padding: 0 0 0 17px;
  color: #D4DDEC;
  font-size: 15px;
  line-height: 36px;
  background: url('../../img/icon-favorites-item.svg') left 13px no-repeat;
  cursor: pointer;
}
.ml-favorites__item:hover {
  color: #FFFFFF;
  background-image: url('../../img/icon-favorites-item-hover.svg');
}
.m-favorites_edit .ml-favorites__item {
  background-image: url('../../img/icon-favorites-item-edit.svg');
}
.m-favorites_edit .ml-favorites__item:hover {
  background-image: url('../../img/icon-favorites-item-edit-hover.svg');
}
.ml-favorites__button {
  width: 100%;
  height: 40px;
  margin: 16px 0 0 0;
  color: #D8E2FF;
  font-size: 15px;
  font-family: 'roboto_regular';
  line-height: 40px;
  background-color: #384878;
  border-radius: 4px;
  text-align: center;
  opacity: 0.5;
  cursor: pointer;
}
.ml-favorites__button:hover {
  opacity: 1;
}
.m-favorites_edit .m-favorites__button_add-current {
  opacity: 0.2;
  cursor: default;
}
.m-favorites__button_save {
  display: none;
}
.m-favorites_edit .m-favorites__button_save {
  display: block;
}
.m-favorites_edit .m-favorites__button_edit {
  display: none;
}
/*
	.ml-main__content-advanced-search
*/
.ml-main__content-extendend-search-page-icon {
  float: left;
  height: 40px;
  width: 39px;
  background-color: #EAEBEF;
  background-image: url('../img/icon-main-content-top-search-extended.svg');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 4px 0 0 4px;
  border-right: 1px solid lightgrey;
}
.ml-main__content-extendend-search-page-icon.without-simple {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;
  margin: 0 10px 0 0;
}
.ml-main__content-extendend-search-page-icon:hover {
  background-color: lightslategrey;
}
.ml-main__content-advanced-search {
  display: none;
}
.extended-search-modal .subpanel {
  padding-left: 50px;
}
.FilterPanelView {
  clear: both;
  position: relative;
  margin: 0;
  border-radius: 3px;
  width: 100%;
}
.FilterPanelView.active,
.FiltersPanelView.active {
  background: #e4ecf2;
}
.extended-search-modal .input-group-addon {
  width: auto;
  border: none;
  background: none;
  padding: 0px;
  padding-right: 10px;
  text-align: left;
  display: inline-block;
}
.extended-search-modal .input-group-addon input {
  margin: 5px 0px;
  line-height: 27px;
  border-radius: 4px;
  height: auto;
  border-left: 1px solid #DDDEE1;
  border-bottom: 1px solid #DDDEE1;
  font-weight: normal;
  font-style: normal;
}
.extended-search-modal .input-group-addon a.btn {
  color: #B3C9DB;
}
.extended-search-modal .add-condition,
.extended-search-modal .add-condition:active {
  background: #F2F6FB;
  border-color: #F2F6FB;
  color: #000;
  margin: 5px 0px;
  outline: none;
  padding: 2px 10px;
}
.extended-search-modal .add-condition:hover {
  background: #EBF2F7;
  border-color: #F2F6FB;
}
.extended-search-modal .input-group-addon:first-child {
  padding-left: 5px;
}
.extended-search-modal .input-group-addon .select2-selection--single {
  border: none;
  border-left: 1px solid #DDDEE1;
  border-bottom: 1px solid #DDDEE1;
}
.extended-search-modal .input-group-addon .select2-selection--single .select2-selection__rendered {
  text-align: left;
  color: #2E4D9B;
  cursor: pointer;
  font-weight: bold;
}
.extended-search-modal .input-group-addon .select2-selection--single .select2-selection__rendered .select2-selection__placeholder {
  color: #2E4D9B;
}
.extended-search-modal .input-group-addon:nth-child(2) .select2-selection--single .select2-selection__rendered {
  text-align: left;
  color: #3E4A69;
  cursor: pointer;
  font-weight: normal;
  font-style: italic;
}
.extended-search-modal .input-group-addon:nth-child(2) .select2-selection--single .select2-selection__rendered .select2-selection__placeholder {
  color: #3E4A69;
}
.extended-search-modal .input-group-addon:nth-child(3) .select2-selection--single .select2-selection__rendered {
  text-align: left;
  color: #3E4A69;
  cursor: pointer;
  font-weight: normal;
  font-style: italic;
}
.extended-search-modal .input-group-addon:nth-child(3) .select2-selection--single .select2-selection__rendered .select2-selection__placeholder {
  color: #3E4A69;
}
.extended-search-modal .input-group-addon:nth-child(3) input {
  text-align: left;
  color: #3E4A69;
  font-size: 14px;
  font-family: 'roboto_regular';
}
.extended-search-modal .input-group-addon .select2-selection--single:focus {
  outline: none;
}
.extended-search-modal .input-group-addon .select2-selection--single .select2-selection__arrow b {
  width: 10px;
  margin-left: -8px;
  height: inherit;
  border: none;
}
/*
	.ml-main__content-search
*/
.ml-main__content-search-page {
  float: right;
  position: relative;
}
.ml-main__content-search-page input {
  display: block;
  float: left;
  width: 140px;
  height: 38px;
  padding: 0 15px 0 5px;
  color: #6F7C9B;
  font-size: 15px;
  font-family: 'roboto_bold';
  border: none;
}
.ml-main__content-search-page .ml-main__content-search-page-icon {
  float: left;
  height: 38px;
  width: 39px;
  background-color: #EAEBEF;
  background-image: url('../img/icon-main-content-top-search.svg');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.ml-main__content-search-page .ml-main__content-search-page-icon:hover {
  background-color: lightslategrey;
}
.ml-search-simple-search-panel {
  /*
    height: 40px;
*/
  margin: 0 10px 0 0;
  border: 1px solid #EAEBEF;
  border-radius: 0 4px 4px 0;
  overflow: auto;
  display: inline-block;
}
.ml-main__content-search {
  position: relative;
}
.ml-main__content-search-fold {
  position: absolute;
  right: 0;
  top: 0;
  height: 34px;
  width: 34px;
  background: url('../../img/icon-main-content-search-fold.svg') center center no-repeat;
  cursor: pointer;
}
.m-main__content-search-fold_hidden {
  background: url('../../img/icon-main-content-search-fold-hidden.svg') center center no-repeat;
}
.ml-main__content-search-form {
  display: block;
  margin: 0 -20px 40px -20px;
  padding: 0 0 0 20px;
  box-shadow: 0 28px 25px #C6CDD9;
}
.ml-main__content-search-form-filter {
  clear: both;
  position: relative;
  margin: 0 0 0 -5px;
  padding: 5px 5px 5px 5px;
  border-radius: 3px;
}
.ml-main__content-search-form-filter-subfilters {
  margin: 0 0 0 70px;
}
.m-main__content-search-form-filter_active,
.m-main__content-search-form-filter_subcat {
  float: left;
  background-color: #E4ECF2;
}
.ml-main__content-search-form-filter-object,
.ml-main__content-search-form-filter-condition,
.ml-main__content-search-form-filter-value {
  float: left;
  padding: 0 0 0 10px;
  height: 26px;
  font-size: 14px;
  line-height: 26px;
  border-radius: 3px;
  border-left: 1px solid #DDDEE1;
  border-bottom: 1px solid #DDDEE1;
  border-top: 1px solid inherit;
}
.m-main__content-search-form-filter_active .ml-main__content-search-form-filter-object,
.m-main__content-search-form-filter_active .ml-main__content-search-form-filter-condition,
.m-main__content-search-form-filter_active .ml-main__content-search-form-filter-value,
.m-main__content-search-form-filter_active .ml-main__content-search-form-filter-value.m-main__content-search-form-filter-value_numeric,
.m-main__content-search-form-filter_active .ml-main__content-search-form-filter-value.m-main__content-search-form-filter-value_date,
.m-main__content-search-form-filter_subcat .ml-main__content-search-form-filter-object,
.m-main__content-search-form-filter_subcat .ml-main__content-search-form-filter-condition,
.m-main__content-search-form-filter_subcat .ml-main__content-search-form-filter-value,
.m-main__content-search-form-filter_subcat .ml-main__content-search-form-filter-value.m-main__content-search-form-filter-value_numeric,
.m-main__content-search-form-filter_subcat .ml-main__content-search-form-filter-value.m-main__content-search-form-filter-value_date {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}
.ml-main__content-search-form-filter-value.m-main__content-search-form-filter-value_numeric {
  position: relative;
  width: 80px;
  padding: 0;
  border-left: none;
  border-right: 1px solid #DDDEE1;
}
.m-main__content-search-form-filter-value_numeric input {
  display: block;
  width: 50px;
  height: 25px;
  padding: 0 14px 0 17px;
  border: none;
  border-radius: 3px;
  text-align: center;
}
.ml-main__content-search-form-filter-value-inc {
  position: absolute;
  right: 6px;
  top: 0;
  height: 25px;
  width: 8px;
  background: url("../../img/icon-main-content-class-number-inc.svg") center center no-repeat;
  cursor: pointer;
}
.ml-main__content-search-form-filter-value-dec {
  position: absolute;
  left: 7px;
  top: 0;
  height: 25px;
  width: 8px;
  background: url("../../img/icon-main-content-class-number-dec.svg") center center no-repeat;
  cursor: pointer;
}
.ml-main__content-search-form-filter-value.m-main__content-search-form-filter-value_date {
  width: 120px;
  border-left: none;
  border-right: 1px solid #DDDEE1;
}
.m-main__content-search-form-filter-value_date .ml-main__content-search-form-filter-value-date {
  display: block;
  float: left;
  width: 80px;
}
.m-main__content-search-form-filter-value_date .ml-main__content-search-form-filter-value-datepicker {
  float: left;
  width: 22px;
  height: 100%;
  background: url('../../img/icon-main-content-search-datepicker.svg') left center no-repeat;
  cursor: pointer;
}
.ml-main__content-search-form-filter-object {
  position: relative;
  width: 220px;
  margin: 0 5px 0 0;
  color: #2E4D9B;
  cursor: pointer;
}
.ml-main__content-search-form-filter-object-field {
  width: 190px;
  height: 24px;
  padding: 0 30px 0 0;
  font-family: 'roboto_bold';
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.m-main__content-search-form-filter_active .ml-main__content-search-form-filter-object-field {
  background: url('../../img/icon-main-content-search-filter-dropdown.svg') 200px 11px no-repeat;
}
.ml-main__content-search-form-filter-object-list {
  display: block;
  position: absolute;
  top: 30px;
  left: -1px;
  width: 220px;
  padding: 8px 5px 8px 5px;
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 0 15px #D6D9E0;
  z-index: 2;
}
.ml-main__content-search-form-filter-object li {
  width: 200px;
  padding: 0 10px 0 10px;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.ml-main__content-search-form-filter-object li:hover {
  color: #FFFFFF;
  background-color: #2E4D9B;
}
.ml-main__content-search-form-filter-condition {
  position: relative;
  width: 160px;
  margin: 0 5px 0 0;
  color: #3E4A69;
  font-family: 'roboto_italic';
  cursor: pointer;
}
.ml-main__content-search-form-filter-condition-field {
  width: 130px;
  height: 24px;
  padding: 0 30px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.m-main__content-search-form-filter_active .ml-main__content-search-form-filter-condition-field {
  background: url('../../img/icon-main-content-search-filter-dropdown.svg') 140px 11px no-repeat;
}
.ml-main__content-search-form-filter-condition-list {
  display: block;
  position: absolute;
  top: 30px;
  left: -1px;
  width: 160px;
  padding: 8px 5px 8px 5px;
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 0 15px #D6D9E0;
  z-index: 2;
}
.ml-main__content-search-form-filter-condition-list li {
  width: 150px;
  padding: 0 10px 0 10px;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.ml-main__content-search-form-filter-condition-list li:hover {
  color: #FFFFFF;
  background-color: #3E4A69;
}
div.ml-main__content-search-form-filter-value {
  width: 210px;
  color: #6F7C9B;
}
input.ml-main__content-search-form-filter-value {
  display: block;
  width: 210px;
  float: left;
  padding: 0 0 0 10px;
  height: 24px;
  color: #3E4A69;
  font-size: 14px;
  border-radius: 3px;
  border-left: 1px solid #DDDEE1;
  border-bottom: 1px solid #DDDEE1;
  border-top: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}
.ml-main__content-search-form-filter-remove {
  display: none;
  float: left;
  height: 25px;
  width: 38px;
  background: url('../../img/icon-main-content-search-filter-remove.svg') center center no-repeat;
  cursor: pointer;
}
.m-main__content-search-form-filter_active .ml-main__content-search-form-filter-remove {
  display: block;
}
.m-main__content-search-form-filter_subcat > .ml-main__content-search-form-filter-remove {
  display: block;
  float: right;
}
.ml-main__content-search-form-add {
  clear: both;
  float: left;
  height: 24px;
  margin: 10px 0 15px 0;
  padding: 0 14px 0 14px;
  font-size: 12px;
  line-height: 22px;
  background-color: #F2F6FB;
  border-radius: 3px;
  cursor: pointer;
}
.ml-main__content-search-form-add:hover {
  background-color: #EBF2F7;
}
.ml-main__content-search-form-controls {
  clear: both;
  height: 76px;
  margin: 20px 0 0 -20px;
  padding: 10px 20px 15px 20px;
  background-color: #F0F6FB;
}
.ml-main__content-search-form-controls-submit {
  display: block;
  float: left;
  height: 40px;
  margin: 8px 0 0 0;
  padding: 0 42px 0 42px;
  color: #FFFFFF;
  font-size: 15px;
  font-family: 'roboto_bold';
  background-color: #29B473;
  border: none;
  border-bottom: 1px solid #184A45;
  border-radius: 4px;
  cursor: pointer;
}
.ml-main__content-search-form-controls-submit:hover {
  background-color: #2DC27C;
}
.ml-main__content-search-form-controls-reset {
  display: block;
  float: right;
  margin: 18px 0 0 0;
  color: #6F7C9B;
  font-size: 15px;
  font-family: 'roboto_bold';
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.ml-main__content-search-form-controls-reset:hover {
  color: #798BB5;
}
/*
Mandatory fields & groups
*/
.mandatory-label:after {
  content: " ●";
  color: #FF8C8C;
  font-weight: lighter;
}
.highlight-mandatory-label {
  color: #FF8C8C;
}
.attr-view-popover-icon {
  padding: 0px 5px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 10px;
  line-height: 16px;
  font-size: 10px;
  background: #E0EDF7;
  color: #7EA7D4;
  cursor: pointer;
  outline: none;
}
/* Override bootstrap fieldset */
fieldset {
  border: 1px solid #D3D0D0;
  padding: 10px;
}
fieldset legend {
  border: 0;
  font-size: 1.1em;
  width: auto;
  display: inline-block;
  margin-left: 10px;
  color: #333333;
}
.popover {
  /* Enable full width of Bootstrap.popover with large text*/
  max-width: 100%;
}
/*
	.ml-auth
*/
.ml-auth {
  color: #FFFFFF;
  font-family: 'roboto_regular';
}
.ml-auth__title {
  margin: 0 0 35px 0;
  color: #FFFFFF;
  text-align: center;
}
.ml-auth__title-text {
  font-size: 35px;
  font-family: 'segoe-ui_bold';
  line-height: 42px;
}
.ml-auth__title-version {
  font-size: 10px;
  font-family: 'roboto_light';
  line-height: 16px;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
}
.ml-auth-blocks-wrap {
  width: 500px;
  margin: auto;
  overflow-x: hidden;
  box-shadow: 0 0 12px -4px #1a2542;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.ml-auth-blocks-wrap-inner {
  width: 960px;
}
/*
	.ml-auth__login
*/
.ml-auth__login {
  display: block;
  float: left;
  position: relative;
  width: 400px;
  padding: 40px 40px 30px 40px;
  color: #FFFFFF;
}
.ml-auth__login-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1D2954;
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  -webkit-opacity: 0.4;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
  filter: alpha(opacity=40);
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  border-radius: inherit;
}
.ml-auth__login-title {
  position: relative;
  font-size: 36px;
  font-family: 'roboto_light';
  line-height: 45px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 40px;
}
.ml-auth__login-name-input {
  display: block;
  height: 50px;
  padding: 0 20px 0 20px;
  color: #FFFFFF;
  font-size: 16px;
  background-color: #536D9B;
  border: 1px solid #98A4BD;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.ml-auth__login-password {
  margin-top: 20px;
}
.ml-auth__login-password-input {
  display: block;
  height: 50px;
  padding: 0 140px 0 20px;
  color: #FFFFFF;
  font-size: 16px;
  background-color: #536D9B;
  border: 1px solid #98A4BD;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ml-auth__login-password-show {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 19px;
  border: 1px solid #98A4BD;
  height: 50px;
  top: 0;
  padding-top: 14px;
  padding-left: 10px;
  border-left: 0;
  /*
    position: absolute;
    top: 15px;
    left: 235px;
    height: 20px;
    width: 30px;
    background: url('../../img/icon-auth-show-password.svg') center center no-repeat;
*/
  cursor: pointer;
}
.m-auth__login-password_visible {
  background: url('../img/icon-auth-hide-password.svg') center center no-repeat;
}
.ml-auth__login-password-forgot {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 50px;
  border-left: 1px solid #98A4BD;
}
a.ml-auth__login-password-forgot-link {
  display: block;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}
a.ml-auth__login-password-forgot-link:active,
a.ml-auth__login-password-forgot-link:visited {
  color: #FFFFFF;
}
a.ml-auth__login-password-forgot-link:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
.ml-auth__login-button {
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0 0 0;
  color: #FFFFFF;
  font-size: 18px;
  font-family: 'roboto_bold';
  background-color: #29B473;
  border: none;
  border-bottom: 1px solid #184A45;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.ml-auth__login-button:hover {
  background-color: #2DC27C;
}
.ml-auth__login-delimiter {
  position: relative;
  width: 100%;
  height: 1px;
  margin: 30px 0 30px 0;
  background-color: #8699BB;
}
.ml-auth__login-to-token {
  display: block;
  position: relative;
  width: 380px;
  height: 50px;
  padding: 0 0 0 20px;
  background-image: url('../../img/icon-auth-to-token.svg');
  background-position: 32px center;
  background-repeat: no-repeat;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
}
.ml-auth__login-to-token:hover,
.ml-auth__login-to-token:focus {
  text-decoration: none;
}
.ml-auth__login-to-token:hover .ml-auth__login-to-token-bg {
  background-color: #27416E;
}
.ml-auth__login-to-token-bg {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2D4B80;
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  -webkit-opacity: 0.2;
  opacity: 0.2;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
  filter: alpha(opacity=20);
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  border-radius: inherit;
}
.ml-auth__login-to-token-text {
  position: relative;
  color: #FFFFFF;
  font-size: 18px;
  font-family: 'roboto_bold';
  line-height: 50px;
  text-decoration: none;
}
.ml-auth__login-to-token-text:hover,
.ml-auth__login-to-token-text:active,
.ml-auth__login-to-token-text:visited {
  color: #FFFFFF;
}
/*
	.ml-auth__token
*/
.ml-auth__token {
  display: block;
  float: left;
  position: relative;
  width: 400px;
  padding: 62px 40px 30px 40px;
  color: #FFFFFF;
}
.ml-auth__token-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1D2954;
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  -webkit-opacity: 0.4;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
  filter: alpha(opacity=40);
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  border-radius: inherit;
}
.ml-auth__token-title {
  position: relative;
  font-size: 36px;
  font-family: 'roboto_light';
  line-height: 50px;
  text-align: center;
}
.ml-auth__token-password {
  position: relative;
}
.ml-auth__token-password-input {
  display: block;
  width: 238px;
  height: 50px;
  margin: 42px 0 0 0;
  padding: 0 140px 0 20px;
  color: #FFFFFF;
  font-size: 16px;
  background-color: inherit;
  border: 1px solid #98A4BD;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.ml-auth__token-password-show {
  position: absolute;
  top: 15px;
  left: 235px;
  height: 20px;
  width: 30px;
  background: url('../../img/icon-auth-show-password.svg') center center no-repeat;
  cursor: pointer;
}
.m-auth__token-password_visible {
  background: url('../../img/icon-auth-hide-password.svg') center center no-repeat;
}
.ml-auth__token-password-forgot {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 50px;
  border-left: 1px solid #98A4BD;
}
a.ml-auth__token-password-forgot-link {
  display: block;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
a.ml-auth__token-password-forgot-link:active,
a.ml-auth__token-password-forgot-link:visited {
  color: #FFFFFF;
}
a.ml-auth__token-password-forgot-link:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
.ml-auth__token-button {
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0 0 0;
  color: #FFFFFF;
  font-size: 18px;
  font-family: 'roboto_bold';
  background-color: #29B473;
  border: none;
  border-bottom: 1px solid #184A45;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.ml-auth__token-button:hover {
  background-color: #2DC27C;
}
.ml-auth__token-delimiter {
  position: relative;
  width: 100%;
  height: 1px;
  margin: 30px 0 30px 0;
  background-color: #8699BB;
}
.ml-auth__token-to-login {
  display: block;
  position: relative;
  width: 380px;
  height: 50px;
  padding: 0 0 0 20px;
  background-image: url('../../img/icon-auth-to-login.svg');
  background-position: 32px center;
  background-repeat: no-repeat;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
}
.ml-auth__token-to-login:hover,
.ml-auth__token-to-login:focus {
  text-decoration: none;
}
.ml-auth__token-to-login:hover .ml-auth__token-to-login-bg {
  background-color: #27416E;
}
.ml-auth__token-to-login-bg {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2D4B80;
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  -webkit-opacity: 0.2;
  opacity: 0.2;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
  filter: alpha(opacity=20);
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  border-radius: inherit;
  text-decoration: none;
}
.ml-auth__token-to-login-text {
  position: relative;
  color: #FFFFFF;
  font-size: 18px;
  font-family: 'roboto_bold';
  line-height: 50px;
  text-decoration: none;
}
.ml-auth__token-to-login-text:hover,
.ml-auth__token-to-login-text:active,
.ml-auth__token-to-login-text:visited {
  color: #FFFFFF;
}
/*
	.ml-main__content-bottom-pager
*/
.ml-main__content-bottom-pager {
  position: absolute;
  bottom: 20px;
  height: 42px;
  width: 100%;
}
.ml-main__content-bottom-pager-pages-wrap {
  display: none;
  float: left;
  height: 40px;
  border-radius: 4px;
  overflow: hidden;
}
.ml-main__content-bottom-pager-page {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  color: #646B7D;
  font-size: 15px;
  line-height: 40px;
  background-color: #ECF4FA;
  border-left: 1px solid #FFFFFF;
  text-align: center;
  text-decoration: none;
}
.ml-main__content-bottom-pager-page:first-child {
  border: none;
}
.ml-main__content-bottom-pager-page:hover {
  background-color: #C7DFEF;
}
.ml-main__content-bottom-pager-page:focus {
  outline: none;
  text-decoration: none;
}
.m-main__content-bottom-pager-page_type_current {
  background-color: #C7DFEF;
}
.ml-main__content-bottom-pager-dropdown {
  position: relative;
  width: 205px;
  height: 42px;
  margin: -2px auto 0;
  padding: 2px 0 0 0;
  color: #646B7D;
  font-size: 15px;
  cursor: pointer;
}
.ml-main__content-bottom-pager-dropdown-selector {
  width: 205px;
  height: 40px;
  padding: 0 0 0 10px;
  line-height: 40px;
  background: url('../img/icon-main-content-bottom-pager-dropdown.svg') right 14px center no-repeat;
  background-color: #ECF4FA;
  border-radius: 4px;
}
.ml-main__content-bottom-pager-dropdown:hover .ml-main__content-bottom-pager-dropdown-selector {
  background-image: url('../img/icon-main-content-bottom-pager-dropup.svg');
  background-color: #DCE3F1;
}
.ml-main__content-bottom-pager-dropdown ul {
  display: none;
  position: absolute;
  bottom: 45px;
  width: 205px;
  padding: 5px 5px 5px 5px;
  background-color: #ECF4FA;
  border-radius: 4px;
}
.ml-main__content-bottom-pager-dropdown:hover ul {
  display: block;
}
.ml-main__content-bottom-pager-dropdown ul li {
  padding: 0 10px 0 10px;
  line-height: 20px;
}
.ml-main__content-bottom-pager-dropdown ul li:hover {
  background-color: #DCE3F1;
}
.notification-messages {
  position: fixed;
  top: 20px;
  right: 20px;
  text-align: right;
}
.notification-messages .alert {
  display: none;
}
/* Message modal notifications */
.modal.dimmer .modal-body div {
  overflow: auto;
}
.modal.dimmer .stacktrace-container {
  overflow: auto;
  max-height: 500px;
}
/*
	.ml-404
*/
.ml-404 {
  padding: 50px 0 0 0;
  color: #405FA8;
  font-weight: bold;
  text-align: center;
}
.ml-404 div {
  font-size: 144px;
}
.ml-404 span {
  font-size: 24px;
}
/*
	.ml-main__content-table + wraps
*/
/*
.dropdown-menu > li > a {
   display: inline;
   padding: 3px 30px;
}

.dropdown-menu > li > a > i {
   right : 10px;
}
 */
/*tsvetkov*/
.fixed-table-body {
  /*overflow-x: auto;*/
  /*overflow-y: auto;*/
  /*    height: 100%;*/
}
.th-inner {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.th-inner.sortable {
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 20px;
  cursor: pointer;
}
.clickable {
  cursor: pointer;
}
.fixed-table-loading {
  display: none;
}
.ml-main__content-table th:first-child {
  border-top-left-radius: 4px;
}
.ml-main__content-table th:last-child {
  border-top-left-radius: 4px;
}
/*tsvetkov*/
.ml-main__content-wrap {
  clear: both;
  position: relative;
  margin: 15px 0 0 0;
}
.scrollbar-external {
  overflow: hidden;
}
.ml-main__content-table {
  clear: both;
  width: 100%;
  /*    table-layout: fixed;
    width: 100%;
    *margin-left: -200px;
    padding-left: 199px;*/
}
.scrollbar-external .fixed-table-loading {
  display: none;
}
.table.ml-main__content-table thead {
  min-height: 66px;
}
.table.ml-main__content-table thead tr {
  min-height: 66px;
}
.table.ml-main__content-table tr {
  border: none;
}
.table.ml-main__content-table tbody tr {
  min-height: 76px;
  border-radius: 0 2px 2px 0;
}
.table.ml-main__content-table tr:nth-child(even) {
  background-color: #F1F7FB;
}
.table.ml-main__content-table tr:nth-child(odd) {
  background-color: #FFFFFF;
}
.table.ml-main__content-table tbody tr:hover {
  background-color: #D5E7F2;
}
.table.ml-main__content-table td,
.table.ml-main__content-table th {
  padding-top: 8px;
  padding-left: 24px;
  padding-right: 0;
  color: #6F7C9B;
  font-size: 14px;
  line-height: 20px;
  border: none;
  background-color: inherit;
  vertical-align: top;
}
.table.ml-main__content-table td {
  padding-bottom: 8px;
  font-family: 'roboto_regular';
}
.table.ml-main__content-table th {
  padding-bottom: 18px;
  /*min-width: 140px;*/
  font-family: 'roboto_bold';
  background-color: #DCE3F1;
}
.table.ml-main__content-table th:last-child {
  /* min-width: 480px; */
  border-radius: 0 4px 0 0;
}
.table.ml-main__content-table .ml-main__content-table-stationary {
  display: block;
  position: absolute;
  *position: relative;
  /*ie7*/
  left: 0;
  width: 200px;
  padding-left: 24px;
  color: #3E4A69;
  font-size: 15px;
  background: url('../../img/bg-main-content-table-delimiter.svg') right top repeat-y;
  overflow: hidden;
}
.table.ml-main__content-table th.ml-main__content-table-stationary {
  min-height: 66px;
  background-color: #DCE3F1;
  border-radius: 4px 0 0 0;
}
.table.ml-main__content-table td.ml-main__content-table-stationary {
  /*	min-height: 76px;*/
  background-color: inherit;
  border-radius: 2px 0 0 2px;
}
.table.ml-main__content-table .ml-main__content-table-first {
  min-width: 190px;
  padding-left: 70px;
}
.table.ml-main__content-table .ml-main__content-table-description {
  min-width: 300px;
}
.table.ml-main__content-table .ml-main__content-table-checkbox-input {
  display: none;
}
.table.ml-main__content-table .ml-main__content-table-checkbox-input:checked + label.ml-main__content-table-checkbox-label {
  background: url('../../img/icon-main-content-object-check.svg') center center no-repeat;
}
.table.ml-main__content-table .ml-main__content-table-checkbox label {
  display: block;
  height: 15px;
  width: 15px;
  margin: 8px 0 0 0;
  border: 1px solid #97B8CE;
  border-radius: 3px;
  cursor: pointer;
}
.ml-main-content-table-scroll-delimiter {
  height: 8px;
}
/*
	External scrollbar
*/
.external-scroll_x {
  display: none;
  position: absolute;
  background-color: #B8C8E6;
  cursor: pointer;
}
.external-scroll_x.scroll-scrollx_visible {
  display: block;
  height: 10px;
  left: 0;
  top: 56px;
  width: 100%;
}
.external-scroll_x div {
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
}
.external-scroll_x .scroll-bar {
  background: #5872B2;
  z-index: 12;
}
/*
	Table sorter
*/
.header .th-inner {
  margin: 0 0 0 -8px;
  padding: 0 22px 0 8px;
  border-radius: 4px;
  cursor: pointer;
}
.ml-main__content-table-stationary.header .th-inner {
  margin-right: 15px;
}
.headerSortDown .th-inner,
.headerSortUp .th-inner {
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: right 8px center;
}
.headerSortDown .th-inner {
  background-image: url('../../img/icon-main-content-table-sortdown.svg');
}
.headerSortUp .th-inner {
  background-image: url('../../img/icon-main-content-table-sortup.svg');
}
/*
	.ml-main__content-object
*/
.attrFieldTitle {
  cursor: pointer;
}
.ml-details {
  cursor: pointer;
}
.attrField {
  border: 1px solid #A1C6DE;
  border-radius: 3px;
  min-height: 30px;
  margin: 5px 0;
  padding: 0 5px;
}
.attrField[type=file] {
  border: none;
  margin: 0;
  padding: 0;
  height: 20px;
  min-height: 20px;
  font-size: 0.8em;
}
.tab-pane {
  overflow: auto;
}
.newLine {
  border-radius: 4px;
  min-height: 0;
}
.newLine:hover {
  background-color: #F0F6FB;
}
.attr-list-search {
  display: none;
}
.attr-list-preview .highlighted {
  background-color: #4CAF50;
}
.attr-list-preview-item {
  cursor: pointer;
  float: left;
  min-height: 24px;
  margin: 3px 3px 3px 0;
  padding: 3px 7px 3px 7px;
  color: #E8EFFF;
  line-height: 18px;
  background-color: #6F7C9B;
  border-radius: 3px;
}
.attr-list-preview-item:hover {
  background-color: #7D8FBD;
}
.attr-list-preview-all {
  cursor: pointer;
  float: left;
  min-height: 24px;
  margin: 3px 3px 3px 0;
  padding: 3px 7px 3px 7px;
  color: #E8EFFF;
  line-height: 18px;
  background-color: #6F7C9B;
  border-radius: 3px;
}
.attr-list-preview-all:hover {
  background-color: #7D8FBD;
}
.table-controls {
  display: none;
  padding: 5px 10px 0px 10px;
}
#table-filter-row {
  display: none;
  padding-top: 0;
}
#table-filter-row .filter-input {
  font-family: "roboto_regular";
  min-width: 100px;
  width: auto;
}
.ml-main__content-object-columns {
  min-height: 400px;
}
.ml-main__content-object-columns .row {
  margin: 0;
}
.ml-main__content-object-columns-line {
  min-height: 30px;
  padding: 0 10px 0 10px;
  color: #485166;
  font-size: 14px;
  line-height: 30px;
  border-radius: 4px;
  cursor: pointer;
}
.ml-main__content-object-columns-line:hover {
  background-color: #F0F6FB;
}
.m-main__content-object-columns-line_disabled .ml-main__content-object-columns-line-title {
  color: #6F7C9B;
  font-family: 'roboto_regular';
}
.ml-main__content-object-columns-line-title {
  float: left;
  font-family: 'roboto_bold';
}
.ml-main__content-object-columns-line-title.col-xs-7 {
  padding-left: 0px;
  min-height: 30px;
}
.ml-main__content-object-columns-line-value {
  float: left;
  min-height: 30px;
}
.ml-main__content-object-columns-line-value.col-xs-5 {
  padding-left: 0px;
  padding-right: 0px;
  min-height: 30px;
}
.ml-main__content-object-columns-line-value-tag {
  float: left;
  min-height: 24px;
  margin: 3px 3px 3px 0;
  padding: 3px 7px 3px 7px;
  color: #E8EFFF;
  line-height: 18px;
  background-color: #6F7C9B;
  border-radius: 3px;
  cursor: pointer;
}
.ml-main__content-object-columns-line-value-tag:hover {
  background-color: #7D8FBD;
}
.ml-main__content-object-columns-line-value-label {
  display: block;
  height: 15px;
  width: 15px;
  margin: 8px 0 0 0;
  border: 1px solid #97B8CE;
  border-radius: 3px;
  cursor: pointer;
}
.ml-main__content-object-columns-line-value-checkbox {
  display: none;
}
.ml-main__content-object-columns-line-value-checkbox:checked + label.ml-main__content-object-columns-line-value-label {
  background: url('../img/icon-main-content-object-check.svg') center center no-repeat;
}
.ml-main__content-object-columns-line-delimiter {
  clear: both;
  width: 100%;
  border-bottom: 1px dotted #F0F6FB;
}
.ml-main__content-object-columns-line:last-child .ml-main__content-object-columns-line-delimiter {
  display: none;
}
.ml-main__content-object-delimiter {
  clear: both;
  height: 30px;
}
.ml-main__content-object-tabs {
  clear: both;
  position: relative;
  height: 160px;
  width: 100%;
}
.ml-main__content-object-tabs-top {
  height: 40px;
}
.ml-main__content-object-tabs-top-tab {
  float: left;
  height: 45px;
  margin: 0 10px 0 0;
  padding: 0 25px 0 25px;
  color: #4D77B7;
  font-size: 14px;
  font-family: 'roboto_bold';
  line-height: 40px;
  background-color: #DBE4F1;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
}
.ml-main__content-object-tabs-top-tab:hover {
  background-color: #BEC7D4;
}
.m-main__content-object-tabs-top-tab_active {
  color: #FFFFFF;
  background-color: #2E4D9B;
}
.m-main__content-object-tabs-top-tab_active:hover {
  background-color: #4669C2;
}
.ml-main__content-object-tabs-bottom {
  position: relative;
  min-height: 120px;
  padding: 25px 20px 0 25px;
  background-color: #FFFFFF;
  border: 1px solid #DBE4F1;
  border-radius: 4px;
}
.ml-main__content-object-tabs-bottom-tab {
  display: none;
}
.ml-main__content-object-tabs-bottom-tab-line {
  height: 30px;
  color: #485166;
  line-height: 30px;
  border-bottom: 1px dotted #F0F6FB;
}
.ml-main__content-object-tabs-bottom-tab-line:last-child {
  border-bottom: none;
}
.m-main__content-object-tabs-bottom-tab-line_disabled .ml-main__content-object-tabs-bottom-tab-line-title {
  color: #6F7C9B;
  font-family: 'roboto_regular';
}
.m-main__content-object-tabs-bottom-tab-line_disabled .ml-main__content-object-tabs-bottom-tab-line-value {
  display: none;
}
.ml-main__content-object-tabs-bottom-tab-line-title {
  float: left;
  width: 120px;
  font-size: 14px;
  font-family: 'roboto_bold';
}
.ml-main__content-object-tabs-bottom-tab-line-value {
  float: left;
  font-family: 'roboto_regular';
}
/* Resource tree page block */
.resource-tree ul.jstree-container-ul {
  margin: 0;
}
.resource-tree ul .jstree-anchor {
  color: #333333;
  text-decoration: none;
}
.resource-tree ul .jstree-anchor.jstree-clicked {
  color: #337ab7 !important;
}
.resource-tree ul .jstree-anchor .label {
  margin-right: 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.resource-tree ul .jstree-icon.jstree-ocl {
  background: none;
}
.resource-tree ul .jstree-icon.jstree-ocl:before {
  cursor: pointer;
  font-style: normal;
  border: 1px solid #000;
  height: 12px;
  width: 12px;
  display: inline-block;
  line-height: 10px;
  font-size: 12px;
  margin: 9px 0px;
  text-align: center;
  padding: 0;
}
.resource-tree ul .jstree-open .jstree-anchor {
  color: #333333;
}
.resource-tree ul .jstree-open > .jstree-icon.jstree-ocl:before {
  content: '-';
}
.resource-tree ul .jstree-closed .jstree-icon.jstree-ocl {
  background: none;
}
.resource-tree ul .jstree-closed .jstree-icon.jstree-ocl:before {
  content: '+';
}
.resource-details .layout-preview {
  min-height: 100%;
  background: url('../img/bg-content.jpg') left top no-repeat;
  background-size: 100% 100%;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}
.resource-details .layout-preview * {
  cursor: default;
  pointer-events: none;
}
.resource-details .layout-preview .l-header {
  min-width: 0;
}
.resource-details .layout-preview .l-content {
  min-height: 300px;
}
.resource-details .layout-preview #CENTER,
.resource-details .layout-preview #TOP,
.resource-details .layout-preview #LEFT,
.resource-details .layout-preview #SEARCH,
.resource-details .layout-preview #UTILS {
  min-height: 40px;
}
.resource-details .layout-preview #LEFT,
.resource-details .layout-preview #TOP,
.resource-details .layout-preview #SEARCH,
.resource-details .layout-preview #UTILS {
  min-width: 100px;
}
.highlighted-zone {
  outline: 1px dashed #fe4d28;
}
#load-kladr-block {
  /* For Firefox only */
}
#load-kladr-block .block-header {
  font-size: 2.1em;
  margin-bottom: 20px;
}
@-moz-document url-prefix() {
  input[type="file"].form-control {
    height: auto;
  }
}
/* Edit section */
.attribute-edit-file .field-file {
  padding: 5px 0;
}
/* Extend Bootstrap buttons, add button as file input*/
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type="file"] {
  position: absolute;
  top: -7px;
  bottom: -8px;
  right: -20px;
  min-width: 100%;
  min-height: 100%;
  width: 40px;
  height: 34px;
  font-size: 100px;
  text-align: right;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  outline: none;
  background: white;
  cursor: pointer;
  font-size: 0;
  display: block;
}
/* View section */
/* Edit section */
.attribute-edit-image_file {
  /* Image field dropzone*/
}
.attribute-edit-image_file .preview-handler {
  margin-bottom: 5px;
}
.attribute-edit-image_file .image-drop-zone {
  width: 100%;
  height: 100px;
  display: block;
  border: 2px dashed #CCCCCC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 5px 0px;
  background: #fff;
  cursor: pointer;
}
.attribute-edit-image_file .image-drop-zone.over {
  border: 2px dashed #919191;
  background: #f0f0f0;
}
.attribute-edit-image_file .image-drop-zone .drop-zone-text {
  line-height: 100px;
  text-align: center;
}
.attribute-edit-image_file .image-drop-zone input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
/* Edit section */
.attribute-edit-photo_file {
  /* Image field dropzone*/
}
.attribute-edit-photo_file .preview-handler {
  margin-bottom: 5px;
}
.attribute-edit-photo_file .image-drop-zone {
  width: 100%;
  height: 100px;
  display: block;
  border: 2px dashed #CCCCCC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 5px 0px;
  background: #fff;
  cursor: pointer;
}
.attribute-edit-photo_file .image-drop-zone.over {
  border: 2px dashed #919191;
  background: #f0f0f0;
}
.attribute-edit-photo_file .image-drop-zone .drop-zone-text {
  line-height: 100px;
  text-align: center;
}
.attribute-edit-photo_file .image-drop-zone input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.attribute-edit-photo_file .buttonPhoto {
  display: block;
  background: none;
  border: none;
  line-height: 80px;
  font-size: 60px;
  margin-top: 10px;
  color: #CCCCCC;
}
.photomask {
  background: url('../images/photomask.png') center center;
  display: none;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 5px;
}
/* Global styles appended to page */
#photo.ui-dialog-content #maskControl {
  padding-left: 20px;
  padding-top: 0;
}
#photo.ui-dialog-content #maskControl #showMask {
  margin-top: 2px;
}
#camWindow #take-cam-image {
  font-size: 1.6em;
  display: none;
}
.ui-dialog-titlebar-close span.ui-button-text {
  display: none;
}
.ui-dialog-titlebar-close:after {
  font-family: 'Glyphicons Halflings';
  content: "\e014";
  display: block;
  margin-top: 10px;
}
.ui-widget-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.3;
}
/* View section */
.attribute-view-gallery .gallery .thumbnail .holder {
  background-size: cover;
  background-position: center center;
  height: 130px;
}
.attribute-view-gallery .gallery-modal .gallery-controls {
  margin-top: 30px;
}
/* Override bootstrap modal */
@media (min-width: 992px) {
  .modal-lg .img-responsive {
    margin: 0 auto;
  }
}
/* Fix reset.css */
.attribute-view-flat_text .field-text,
.attribute-view-text .field-text {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}
.attribute-view-flat_text .field-text b,
.attribute-view-text .field-text b,
.attribute-view-flat_text .field-text strong,
.attribute-view-text .field-text strong {
  font-weight: bold;
  font-style: inherit;
}
.attribute-view-flat_text .field-text em,
.attribute-view-text .field-text em {
  font-style: italic;
}
.attribute-view-flat_text .field-text p,
.attribute-view-text .field-text p {
  margin-bottom: 10px;
}
.attribute-view-flat_text .field-text ol,
.attribute-view-text .field-text ol,
.attribute-view-flat_text .field-text ul,
.attribute-view-text .field-text ul {
  padding-left: 40px;
  margin-bottom: 10px;
}
.attribute-view-flat_text .field-text ol li,
.attribute-view-text .field-text ol li {
  list-style: decimal;
}
.attribute-view-flat_text .field-text ul li,
.attribute-view-text .field-text ul li {
  list-style: disc;
}
.attribute-view-flat_text .field-text blockquote,
.attribute-view-text .field-text blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 14px;
}
.attribute-edit-string-kladr .search-run {
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-top: -28px;
  margin-right: 10px;
  display: none;
}
/*# sourceMappingURL=main.css.map */