/*
	Roboto Thin
*/
@font-face
	{
	font-family: 'roboto_thin'; 
	src: url('@{fonts-path}/roboto-thin.ttf');
	}

/*
	Roboto Light
*/
@font-face
	{
	font-family: 'roboto_light'; 
	src: url('@{fonts-path}/roboto-light.ttf');
	}

/*
	Roboto Regular
*/
@font-face
	{
	font-family: 'roboto_regular';
	src: url('@{fonts-path}/roboto-regular.ttf');
	}
	
/*
	Roboto Bold
*/
@font-face
	{
	font-family: 'roboto_bold'; 
	src: url('@{fonts-path}/roboto-bold.ttf');
	}
	
/*
	Roboto Italic
*/
@font-face
	{
	font-family: 'roboto_italic'; 
	src: url('@{fonts-path}/roboto-italic.ttf');
	}
	
/*
	Segoe UI Bold
*/
@font-face
	{
	font-family: 'segoe-ui_bold';
	src: url("@{fonts-path}/segoe-ui-bold.eot");
	src: url("@{fonts-path}/segoe-ui-bold.eot?#iefix")format("embedded-opentype"), url("@{fonts-path}/segoe-ui-bold.woff") format("woff"), url("@{fonts-path}/segoe-ui-bold.ttf") format("truetype");
	}