.notification-messages {
    position: fixed;
    top: 20px;
    right: 20px;
    text-align: right;

    .alert {
        display: none;
    }
}

/* Message modal notifications */
.modal {
    &.dimmer {
        .modal-body {
            div {
                overflow: auto;
            }
        }
        .stacktrace-container {
            overflow: auto;
            max-height: 500px;
        }
    }
}