<div class="attr-label-container col-xs-offset-<%=paramModel.get('offset')%> col-xs-<%=paramModel.get('titleLength')%>">
    <b class="attr-label"><%=paramModel.get('name')%>:</b>
</div>
<div class="col-xs-<%=(paramModel.get('totalLength') - paramModel.get('titleLength') - paramModel.get('offset'))%>">
    <input type="checkbox" class="attrField"/>
</div>
