<div class="attr-label-container col-xs-offset-<%=paramModel.get('offset')%> col-xs-<%=paramModel.get('titleLength')%>">
    <b class="attr-label"><%=paramModel.get('name')%>:</b>
</div>
<input type="text"
       class="attrField col-xs-<%=(paramModel.get('totalLength') - paramModel.get('titleLength') - paramModel.get('offset'))%>"
       value=""/>

