
<div class="l-header">
    <div class="ml-header">
        <div class="ml-header__user" id="TOP"></div>
    </div>
</div><!-- .l-header -->
<div class="l-content" id="CENTER">
</div><!-- .l-content -->
<div class="l-footer">
    <div class="ml-footer__logo"></div>
</div><!-- .l-footer -->
