
<div class="l-header">

</div><!-- .l-header -->
<div class="l-content">
    <div class="ml-auth__title">
        <div class="ml-auth__title-text"><%= PROJECT_PAGE_TITLE %></div>
        <div class="ml-auth__title-version">Version <%= PROJECT_FRAMEWORK_VERSION%></div>
    </div>
    <div id="CENTER">
    </div>
</div><!-- .l-content -->
<div class="l-footer">
    <!--<div class="ml-footer__logo"></div> -->
</div><!-- .l-footer -->
