<div class="ml-header__user-settings"><%=login%></div>
<div id="logoutButton" class="ml-header__user-logout glyphicon glyphicon-log-out" title="Выход"></div>
<%if (showHelp){%>
    <div id="helpPage" class="ml-header__user-help glyphicon glyphicon-question-sign" title="Помощь"></div>
<%}%>

<!--
<div>
    <div class="logout-block">
        <div class="input-group">
            <input type="text" class="form-control" readonly="true" value="<%=login%>">
                <span id="logoutButton" class="btn btn-primary input-group-addon callback">
                    <span class="glyphicon glyphicon-log-out"></span> Выход
                </span>
            <%if (showHelp){%>
                <span id="helpPage" class="btn btn-primary input-group-addon callback active-button">
                    <span class="glyphicon glyphicon-question-sign"></span></span>
            <%}%>
        </div>
    </div>
</div>-->
