/*
	.ml-main__content-advanced-search
*/

.ml-main__content-extendend-search-page-icon {
  float: left;
  height: 40px;
  width: 39px;
  background-color: #EAEBEF;
  background-image: url('@{img}/icon-main-content-top-search-extended.svg');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 4px 0 0 4px;
  border-right: 1px solid lightgrey;
  margin-left: 10px;

  &.without-simple {
	.rounded(4px);
	border: none;
	margin: 0 0 0 10px;
  }

  &:hover{
	background-color: lightslategrey;
  }
}

.ml-main__content-extendend-search-page-icon + .ml-search-simple-search-panel {
	margin-left: 0px;
}


.ml-main__content-advanced-search
	{
	display: none;
	}

.extended-search-modal .subpanel
{
	padding-left: 50px;
}
.FilterPanelView {
	clear: both;
	position: relative;
	margin: 0;
	border-radius: 3px;
	width: 100%;
}
.FilterPanelView.active, .FiltersPanelView.active {
	background: #E4ECF2
}


.FilterPanelView:hover {
	//background: rgba(245, 248, 255, 0.100)
}

.extended-search-modal .input-group-addon {
	width: auto;
	border: none;
	background: none;
	padding: 0px;
	padding-right: 10px;
	text-align: left;
	display: inline-block;
}
.extended-search-modal .input-group-addon input
{
	margin: 5px 0px;
	line-height: 27px;
	border-radius: 4px;
	height: auto;
	border-left: 1px solid #DDDEE1;
	border-bottom: 1px solid #DDDEE1;
	font-weight: normal;
	font-style: normal;
}

.extended-search-modal .input-group-addon a.btn{
	color: #B3C9DB;
}

.extended-search-modal .add-condition, .extended-search-modal .add-condition:active {
	background: #F2F6FB;
	border-color: #F2F6FB;
	color: #000;
	margin: 5px 0px;
	outline: none;
	padding: 2px 10px;
}

.extended-search-modal .add-condition:hover
{
	background: #EBF2F7;
	border-color: #F2F6FB;
}

.extended-search-modal .input-group-addon:first-child {
	padding-left: 5px;
}

.extended-search-modal .input-group-addon .select2-selection--single {
	border: none;
	border-left: 1px solid #DDDEE1;
	border-bottom: 1px solid #DDDEE1;
}

.extended-search-modal .input-group-addon .select2-selection--single .select2-selection__rendered {
	text-align: left;
	color: #2E4D9B;
	cursor: pointer;
	font-weight: bold;
}

.extended-search-modal .input-group-addon .select2-selection--single .select2-selection__rendered .select2-selection__placeholder {
	color: #2E4D9B;
}

.extended-search-modal .input-group-addon:nth-child(2) .select2-selection--single .select2-selection__rendered {
	text-align: left;
	color: #3E4A69;
	cursor: pointer;
	font-weight: normal;
	font-style: italic;
}

.extended-search-modal .input-group-addon:nth-child(2) .select2-selection--single .select2-selection__rendered .select2-selection__placeholder {
	color: #3E4A69;
}

.extended-search-modal .input-group-addon:nth-child(3) .select2-selection--single .select2-selection__rendered {
	text-align: left;
	color: #3E4A69;
	cursor: pointer;
	font-weight: normal;
	font-style: italic;
}

.extended-search-modal .input-group-addon:nth-child(3) .select2-selection--single .select2-selection__rendered .select2-selection__placeholder {
	color: #3E4A69;
}

.extended-search-modal .input-group-addon:nth-child(3) input {
	text-align: left;
	color: #3E4A69;
	font-size: 14px;
	font-family: 'roboto_regular';
}

.extended-search-modal .input-group-addon .select2-selection--single:focus {
	outline: none;
}

.extended-search-modal .input-group-addon .select2-selection--single .select2-selection__arrow b{
	width: 10px;
	margin-left: -8px;
	height: inherit;
	border: none;
}