@import "advanced-search";
/*
	.ml-main__content-search
*/

.ml-main__content-search-page {
    float: right;
    position: relative;

    input {
        display: block;
        float: left;
        width: 140px;
        height: 38px;
        padding: 0 15px 0 5px;
        color: #6F7C9B;
        font-size: 15px;
        font-family: 'roboto_bold';
        border: none;
    }

    .ml-main__content-search-page-icon {
        float: left;
        height: 38px;
        width: 39px;
        background-color: #EAEBEF;
        background-image: url('@{img}/icon-main-content-top-search.svg');
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;

        &:hover{
            background-color: lightslategrey;
        }
    }
}





.ml-search-simple-search-panel{
/*
    height: 40px;
*/
    margin: 0 0 0 10px;
    border: 1px solid #EAEBEF;
    border-radius: 0 4px 4px 0;
    overflow: auto;
    display: inline-block;
}

.ml-main__content-search {
    position: relative;
}

.ml-main__content-search-fold {
    position: absolute;
    right: 0;
    top: 0;
    height: 34px;
    width: 34px;
    background: url('../../img/icon-main-content-search-fold.svg') center center no-repeat;
    cursor: pointer;
}

.m-main__content-search-fold_hidden {
    background: url('../../img/icon-main-content-search-fold-hidden.svg') center center no-repeat;
}

.ml-main__content-search-form {
    display: block;
    margin: 0 -20px 40px -20px;
    padding: 0 0 0 20px;
    box-shadow: 0 28px 25px #C6CDD9;
}

.ml-main__content-search-form-filter {
    clear: both;
    position: relative;
    margin: 0 0 0 -5px;
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
}

.ml-main__content-search-form-filter-subfilters {
    margin: 0 0 0 70px;
}

.m-main__content-search-form-filter_active,
.m-main__content-search-form-filter_subcat {
    float: left;
    background-color: #E4ECF2;
}

.ml-main__content-search-form-filter-object,
.ml-main__content-search-form-filter-condition,
.ml-main__content-search-form-filter-value {
    float: left;
    padding: 0 0 0 10px;
    height: 26px;
    font-size: 14px;
    line-height: 26px;
    border-radius: 3px;
    border-left: 1px solid #DDDEE1;
    border-bottom: 1px solid #DDDEE1;
    border-top: 1px solid inherit;
}

.m-main__content-search-form-filter_active .ml-main__content-search-form-filter-object,
.m-main__content-search-form-filter_active .ml-main__content-search-form-filter-condition,
.m-main__content-search-form-filter_active .ml-main__content-search-form-filter-value,
.m-main__content-search-form-filter_active .ml-main__content-search-form-filter-value.m-main__content-search-form-filter-value_numeric,
.m-main__content-search-form-filter_active .ml-main__content-search-form-filter-value.m-main__content-search-form-filter-value_date,
.m-main__content-search-form-filter_subcat .ml-main__content-search-form-filter-object,
.m-main__content-search-form-filter_subcat .ml-main__content-search-form-filter-condition,
.m-main__content-search-form-filter_subcat .ml-main__content-search-form-filter-value,
.m-main__content-search-form-filter_subcat .ml-main__content-search-form-filter-value.m-main__content-search-form-filter-value_numeric,
.m-main__content-search-form-filter_subcat .ml-main__content-search-form-filter-value.m-main__content-search-form-filter-value_date {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.ml-main__content-search-form-filter-value.m-main__content-search-form-filter-value_numeric {
    position: relative;
    width: 80px;
    padding: 0;
    border-left: none;
    border-right: 1px solid #DDDEE1;

}

.m-main__content-search-form-filter-value_numeric input {
    display: block;
    width: 50px;
    height: 25px;
    padding: 0 14px 0 17px;
    border: none;
    border-radius: 3px;
    text-align: center;
}

.ml-main__content-search-form-filter-value-inc {
    position: absolute;
    right: 6px;
    top: 0;
    height: 25px;
    width: 8px;
    background: url("../../img/icon-main-content-class-number-inc.svg") center center no-repeat;
    cursor: pointer;
}

.ml-main__content-search-form-filter-value-dec {
    position: absolute;
    left: 7px;
    top: 0;
    height: 25px;
    width: 8px;
    background: url("../../img/icon-main-content-class-number-dec.svg") center center no-repeat;
    cursor: pointer;
}

.ml-main__content-search-form-filter-value.m-main__content-search-form-filter-value_date {
    width: 120px;
    border-left: none;
    border-right: 1px solid #DDDEE1;
}

.m-main__content-search-form-filter-value_date .ml-main__content-search-form-filter-value-date {
    display: block;
    float: left;
    width: 80px;
}

.m-main__content-search-form-filter-value_date .ml-main__content-search-form-filter-value-datepicker {
    float: left;
    width: 22px;
    height: 100%;
    background: url('../../img/icon-main-content-search-datepicker.svg') left center no-repeat;
    cursor: pointer;
}

.ml-main__content-search-form-filter-object {
    position: relative;
    width: 220px;
    margin: 0 5px 0 0;
    color: #2E4D9B;
    cursor: pointer;
}

.ml-main__content-search-form-filter-object-field {
    width: 190px;
    height: 24px;
    padding: 0 30px 0 0;
    font-family: 'roboto_bold';
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.m-main__content-search-form-filter_active .ml-main__content-search-form-filter-object-field {
    background: url('../../img/icon-main-content-search-filter-dropdown.svg') 200px 11px no-repeat;
}

.ml-main__content-search-form-filter-object-list {
    display: block;
    position: absolute;
    top: 30px;
    left: -1px;
    width: 220px;
    padding: 8px 5px 8px 5px;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 0 15px #D6D9E0;
    z-index: 2;
}

.ml-main__content-search-form-filter-object li {
    width: 200px;
    padding: 0 10px 0 10px;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ml-main__content-search-form-filter-object li:hover {
    color: #FFFFFF;
    background-color: #2E4D9B;
}

.ml-main__content-search-form-filter-condition {
    position: relative;
    width: 160px;
    margin: 0 5px 0 0;
    color: #3E4A69;
    font-family: 'roboto_italic';
    cursor: pointer;
}

.ml-main__content-search-form-filter-condition-field {
    width: 130px;
    height: 24px;
    padding: 0 30px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.m-main__content-search-form-filter_active .ml-main__content-search-form-filter-condition-field {
    background: url('../../img/icon-main-content-search-filter-dropdown.svg') 140px 11px no-repeat;
}

.ml-main__content-search-form-filter-condition-list {
    display: block;
    position: absolute;
    top: 30px;
    left: -1px;
    width: 160px;
    padding: 8px 5px 8px 5px;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 0 15px #D6D9E0;
    z-index: 2;
}

.ml-main__content-search-form-filter-condition-list li {
    width: 150px;
    padding: 0 10px 0 10px;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ml-main__content-search-form-filter-condition-list li:hover {
    color: #FFFFFF;
    background-color: #3E4A69;
}

div.ml-main__content-search-form-filter-value {
    width: 210px;
    color: #6F7C9B;
}

input.ml-main__content-search-form-filter-value {
    display: block;
    width: 210px;
    float: left;
    padding: 0 0 0 10px;
    height: 24px;
    color: #3E4A69;
    font-size: 14px;
    border-radius: 3px;
    border-left: 1px solid #DDDEE1;
    border-bottom: 1px solid #DDDEE1;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.ml-main__content-search-form-filter-remove {
    display: none;
    float: left;
    height: 25px;
    width: 38px;
    background: url('../../img/icon-main-content-search-filter-remove.svg') center center no-repeat;
    cursor: pointer;
}

.m-main__content-search-form-filter_active .ml-main__content-search-form-filter-remove {
    display: block;
}

.m-main__content-search-form-filter_subcat > .ml-main__content-search-form-filter-remove {
    display: block;
    float: right;
}

.ml-main__content-search-form-add {
    clear: both;
    float: left;
    height: 24px;
    margin: 10px 0 15px 0;
    padding: 0 14px 0 14px;
    font-size: 12px;
    line-height: 22px;
    background-color: #F2F6FB;
    border-radius: 3px;
    cursor: pointer;
}

.ml-main__content-search-form-add:hover {
    background-color: #EBF2F7;
}

.ml-main__content-search-form-controls {
    clear: both;
    height: 76px;
    margin: 20px 0 0 -20px;
    padding: 10px 20px 15px 20px;
    background-color: #F0F6FB;
}

.ml-main__content-search-form-controls-submit {
    display: block;
    float: left;
    height: 40px;
    margin: 8px 0 0 0;
    padding: 0 42px 0 42px;
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'roboto_bold';
    background-color: #29B473;
    border: none;
    border-bottom: 1px solid #184A45;
    border-radius: 4px;
    cursor: pointer;
}

.ml-main__content-search-form-controls-submit:hover {
    background-color: #2DC27C;
}

.ml-main__content-search-form-controls-reset {
    display: block;
    float: right;
    margin: 18px 0 0 0;
    color: #6F7C9B;
    font-size: 15px;
    font-family: 'roboto_bold';
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.ml-main__content-search-form-controls-reset:hover {
    color: #798BB5;
}