#load-kladr-block {
  .block-header {
    font-size: 2.1em;
    margin-bottom: 20px;
  }

  /* For Firefox only */
  @-moz-document url-prefix() {
    input[type="file"].form-control {
      height: auto;
    }
  }
}