/*
	.ml-main__content-folders
*/

.open-object-button{
    top: 3px;
}

.ml-main__content-folders {
    padding: 0 0 0 0;
}

.ml-main__content-folder {
    float: left;
    height: 45px;
    width: 175px;
    padding-top: 80px;
    margin-bottom: 25px;
    color: #6E6E6E;
    font-size: 16px;
    /*background-image: url('../../img/icon-main-content-folders-folder.svg');*/
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;

    &:hover {
        color: #8A8A8A;
    }
}
.ml-main__common-folder{
    background-image: url('@{img}/icon-main-content-folders-folder.svg');
    box-sizing: initial;
    position: relative;

    &:hover{
        background-color: #D8E2FF;
    }
}

.m-main__content-folder_type_documents {
    background-image: url('@{img}/icon-main-content-folders-document.svg');
}

.m-main__content-folder_type_directories {
    background-image: url('@{img}/icon-main-content-folders-directory.svg');
}

.ml-main__content-folder {
    span {
        margin: 0 0 0 6px;
        color: #9CADCD;
    }

    &:hover span {
        color: #A6BADE;
    }
}

.pagination{
    margin: 0 !important;
}

.pagination-detail{
    border-radius: 4px;
    background-color: #ECF4FA;

    .pagination-info{
        margin-right: 10px;
    }
}
