/*
	.ml-main__content-bottom-pager
*/

.ml-main__content-bottom-pager
	{
	position: absolute;
	bottom: 20px;
	height: 42px;
	width: 100%;
	}
	
	.ml-main__content-bottom-pager-pages-wrap
		{
		display: none;
		float: left;
		height: 40px;
		border-radius: 4px;
		overflow: hidden;
		}
		
		.ml-main__content-bottom-pager-page
			{
			display: block;
			float: left;
			width: 40px;
			height: 40px;
			color: #646B7D;
			font-size: 15px;
			line-height: 40px;
			background-color: #ECF4FA;
			border-left: 1px solid #FFFFFF;
			text-align: center;
			text-decoration: none;
			}
			
			.ml-main__content-bottom-pager-page:first-child
				{
				border: none;
				}
				
			.ml-main__content-bottom-pager-page:hover
				{
				background-color: #C7DFEF;
				}
				
			.ml-main__content-bottom-pager-page:focus
				{
				outline: none;
				text-decoration: none;
				}
				
			.m-main__content-bottom-pager-page_type_current
				{
				background-color: #C7DFEF;
				}

	.ml-main__content-bottom-pager-dropdown
		{
		position: relative;
		width: 205px;
		height: 42px;
		margin: -2px auto 0;
		padding: 2px 0 0 0;
		color: #646B7D;
		font-size: 15px;
		cursor: pointer;
		}
		
		.ml-main__content-bottom-pager-dropdown-selector
			{
			width: 205px;
			height: 40px;
			padding: 0 0 0 10px;
			line-height: 40px;
			background: url('../img/icon-main-content-bottom-pager-dropdown.svg') right 14px center no-repeat;
			background-color: #ECF4FA;
			border-radius: 4px;
			}
			
			.ml-main__content-bottom-pager-dropdown:hover .ml-main__content-bottom-pager-dropdown-selector
				{
				background-image: url('../img/icon-main-content-bottom-pager-dropup.svg');
				background-color: #DCE3F1;
				}
			
		.ml-main__content-bottom-pager-dropdown ul
			{
			display: none;
			position: absolute;
			bottom: 45px;
			width: 205px;
			padding: 5px 5px 5px 5px;
			background-color: #ECF4FA;
			border-radius: 4px;
			}
			
			.ml-main__content-bottom-pager-dropdown:hover ul
				{
				display: block;
				}
				
			.ml-main__content-bottom-pager-dropdown ul li
				{
				padding: 0 10px 0 10px;
				line-height: 20px;
				}
				
				.ml-main__content-bottom-pager-dropdown ul li:hover
					{
					background-color: #DCE3F1;
					}