/*
	.ml-main
*/

.ml-main {
    border-radius: 4px;
    overflow: hidden;

    .ml-main__header {
        position: relative;
        height: 40px;

        .ml-main__header-bg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #EAF0FF;
            .opacity(0.2);
        }
    }

    .m-main__header_breadcrumbs {
        height: 40px;
    }

    .ml-main__content {
        position: relative;
        padding: 20px 20px 68px 20px;
        background-color: #FFFFFF;

        .upper-folder{
            background: url('@{img}/icon-main-content-top-title.svg') left center no-repeat;
            width: 75px;
            height: 40px;
            background-size: 40px;
            float: left;
            cursor: pointer;
        }

        .ml-main__content-title {
            float: left;
            margin: 0 0 10px 0;
            cursor: pointer;

            .ml-main__content-title-text {
                float: left;
                max-width: 90%;
                padding: 0 30px 0 0;
                color: #405FA8;
                font-size: 40px;
                font-family: 'roboto_thin';
                line-height: 40px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .ml-main__content-title-items {
                float: left;
                height: 32px;
                margin: 8px 0 0 0;
                padding: 0 12px 0 12px;
                color: #567FD0;
                font-size: 16px;
                line-height: 32px;
                background-color: #EAF3FF;
                border-radius: 13px;
            }
        }

        .ml-main__content-actions {
            position: relative;
            float: right;
            margin-left: 10px;

            &:hover{
                cursor: pointer;
            }

            .ml-main__content-actions-title {
                min-width: 180px;
                height: 40px;
                padding: 0 0 0 17px;
                color: #FFFFFF;
                font-size: 15px;
                font-family: 'roboto_bold';
                line-height: 38px;
                background: url('@{img}/icon-main-content-top-actions.svg') 155px 18px no-repeat;
                background-color: #94A3C1;
                .rounded(4px);
                border-bottom: 1px solid #565F6E;
            }
        }

        /* todo: move to .ml-main__content-actions ? */
        .ml-main__content-edit {
            float: right;
            height: 40px;
            margin: 0 0 16px 0;
            padding: 0 22px 0 22px;
            color: #FFFFFF;
            font-size: 15px;
            font-family: 'roboto_bold';
            line-height: 38px;
            background-color: #29B373;
            border-bottom: 1px solid #446F5F;
            border-radius: 4px;
            overflow: hidden;
            cursor: pointer;
        }

        .ml-main__content-logo {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 165px;
            height: 68px;
            color: #999999;
            font-size: 10px;
            font-family: 'roboto_light';
            line-height: 66px;
            text-align: center;
            /*
            background: url('@{img}/icon-main-content-logo.svg') 112px top no-repeat;
            */
        }

        .ml-main__content-delimiter {
            clear: both;
            width: 100%;
            height: 1px;
            margin: 0 0 10px 0;
        }
    }
}

/*fixme: deprecated ?*/
.ml-main__content-add-folder {
    float: right;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
    border-bottom: 1px solid #446F5F;
    cursor: pointer;

    &:active {
        margin: 21px 0 0 0;
        border-bottom: none;
    }
}

/*fixme: deprecated ?*/
.ml-main__content-add-folder-icon {
    float: left;
    width: 40px;
    height: 40px;
    background-color: #26A66A;
    background-image: url('../img/icon-main-content-top-add.svg');
    background-position: center center;
    background-repeat: no-repeat;
}

/*fixme: deprecated ?*/
.ml-main__content-add-folder-title {
    float: left;
    height: 40px;
    padding: 0 22px 0 22px;
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'roboto_bold';
    line-height: 38px;
    background-color: #29B373;
}

/*fixme: deprecated ?*/
.m-main__content-actions_object {
    margin-top: 0;
    margin-bottom: 16px;
}

/*fixme: deprecated ?*/
.ml-main__content-actions-list {
    display: none;
    position: absolute;
    margin: 3px 0 0 0;
    padding: 6px 11px 6px 11px;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 0 12px -4px #1A2542;
    z-index: 2;
}

/*fixme: deprecated ?*/
.ml-main__content-actions:hover .ml-main__content-actions-list {
    display: block;
}

/*fixme: deprecated ?*/
.ml-main__content-actions-list li {
    display: block;
    height: 24px;
    padding: 0 0 0 23px;
    color: #2E4D9B;
    font-size: 14px;
    line-height: 24px;
    background-position: left center;
    background-repeat: no-repeat;
}

/*fixme: deprecated ?*/
.m-main__content-actions-list_reinitial {
    background-image: url('../img/icon-main-content-top-actions-list-reinitial.svg');
}

/*fixme: deprecated ?*/
.m-main__content-actions-list_log {
    background-image: url('../img/icon-main-content-top-actions-list-log.svg');
}

/*fixme: deprecated ?*/
.m-main__content-actions-list_export {
    background-image: url('../img/icon-main-content-top-actions-list-export.svg');
}

/*fixme: deprecated ?*/
.ml-main__content-advanced-search {
    float: right;
    height: 40px;
    margin: 16px 20px 0 0;
    padding: 0 22px 0 22px;
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'roboto_bold';
    line-height: 38px;
    background: url('@{img}/icon-main-content-top-actions.svg') 155px 18px no-repeat;
    background-color: #94A3C1;
    border-radius: 4px;
    border-bottom: 1px solid #565F6E;
    cursor: pointer;

    &:active {
        margin: 21px 20px 0 0;
        border-bottom: none;
    }
}


/* todo: move */
/* Dropdown menu icon on right side fix */
.dropdown-menu li a.icon-right {
    //white-space: normal;
    position: relative;
    padding-right: 30px;
}
.dropdown-menu li a.icon-right .glyphicon {
    position: absolute;
    top: 3px;
    right: 10px;

}

/* todo: move */
.one-many-text-container {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: auto;
}
.one-many-text-container.collapsed {
    height: 100px;
}
.one-many-text-control {
    cursor: pointer;
}