/* Breadcrumb Styles
 ---------------------------------------------------------------------*/

.breadCrumb {
  display: block;
  float: left;
  width: 100%;
  overflow: hidden;

  .BreadcrumbsView {
    overflow: hidden;
    position: relative;

    .last {
      background-size: 0px;
    }
    .active {
      font-weight: bold;
    }
    .ghost {
      .opacity(0.6);
    }

    ul {
      display: block;
      height: 60px;

      li {
        display: block;
        float: left;
        position: relative;
        height: 40px;
        margin: 0px 10px 0px 0;
        padding: 0px 25px 0px 0;
        color: #FFFFFF;
        font-size: 15px;
        line-height: 40px;
        background-image: url('@{img}/icon-main-header-delimiter.svg');
        background-position: right center;
        background-repeat: no-repeat;
        background-size: auto 30%;
        overflow: hidden;

        div.chevronOverlay {
          position: absolute;
          right: 0;
          top: 0;
          z-index: 2;
          display: none;
          background-image: url('@{img}/icon-main-header-delimiter.svg');
          background-position: right center;
          background-repeat: no-repeat;
          background-size: auto 30%;
          width: 20px;
          height: 40px;
        }

        span {
          display: block;
          overflow: hidden;
        }

        a {
          display: block;
          position: relative;
          float: left;
          height: 40px;
          color: #FFFFFF;
          line-height: 40px;
          overflow: hidden;
        }

        &.first {
          a {
            height: 40px !important;
            width: 40px;
            background-color: #384878;
            background-image: url('@{img}/icon-main-header-home.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 50% 50%;
            overflow: hidden;
          }
        }

        &.last {
          margin-right: 0;
          padding-right: 0;
          background: none;
          cursor: default;
        }
      }
    }
  }
}


