<div class="ml-header__user-settings"><%=login%></div>
<div id="logoutButton" class="ml-header__user-logout glyphicon glyphicon-log-out" title="Выход"></div>
<%if (showHelp){%>
<div id="helpPage" class="ml-header__user-help glyphicon glyphicon-question-sign" title="Помощь"></div>
<%}%>