/*
	.ml-list
*/

.ml-list {
    display: block;
    float: left;
    width: 300px;
    margin: 0 20px 0 0;
    padding: 10px 10px 0 0;
    color: #D3DEFF;
}

.jstree-node {
    position: relative;
}

.m-list__item_lowest_lvl a {
    font-size: 13px;
    line-height: 21px;

    .jstree-icon.jstree-ocl {
        height: 21px;
    }

    span {
        display: block;
        max-width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}


.jstree-icon.jstree-ocl {
    position: relative;
    display: block;
    float: left;
    height: 30px;
    width: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
}

.jstree-closed > .jstree-icon.jstree-ocl {
    background-image: url('../img/icon-list-item.svg');
    background-size: 5px;
}

.jstree-open > .jstree-icon.jstree-ocl {
    background-image: url('../img/icon-list-item-selected.svg');
    background-size: 10px;
}

.jstree-anchor {
    color: #D3DEFF;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    margin-left: 20px;
    display: block;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    .jstree-icon {
        display: none;
        width: 25px;
        height: 25px;
        background-size: cover;
        margin-right: 10px;
        margin-top: -5px;
        position: absolute;
        right: 0;
    }

    &:focus, &:hover{
        outline: none;
        color: #D3DEFF;
    }

    &:hover {
        .jstree-icon:not(.glyphicon) {
            display: inline-block;
        }
    }
}

.jstree-open > .jstree-anchor {
    color: #FFE29B;
    font-weight: bold;

    &:hover {
        color: #FFEAB5;
    }
}

.jstree-children {
    position: relative;
    margin: 0 0 0 20px;
    z-index: 1;
}

.ml-list__item-title {
    position: relative;
    z-index: 1;
}

.ml-list__bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    border-radius: 4px;
    opacity: 0.2;
    z-index: 0;
}

.jstree-open {
    .ml-list__bg {
        display: block;
    }

    .ml-list__close {
        display: block;
    }
}


.ml-list__close {
    display: none;
    position: absolute;
    top: 4px;
    right: 10px;
    height: 20px;
    width: 20px;
    background-image: url('@{img}/icon-list-item-foldup.svg');
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1;
}


.jstree-clicked {
    color: #ffff00 !important;

    &:focus, &:hover {
        outline: none;
        color: #D3DEFF;
    }
}


/* Редактирование объектов в таблице */
.table-inline-edit {
    input {
        min-width: 100px;
    }
}

table.ml-main__content-table {
    th {
        position: relative;

        &.disabled-simple {
            padding-right: 30px;

            &:before {
                content: "\e003";
                width: 20px;
                height: 20px;
                color: #817B7B;

                position: absolute;
                top: 9px;
                right: 0;
                display: inline-block;
                font-size: 10px;
                font-family: 'Glyphicons Halflings';
            }

            &:after {
                content: "\e090";
                width: 20px;
                height: 20px;
                color: rgba(203, 69, 41, 0.5);

                position: absolute;
                top: 9px;
                right: 4px;
                display: inline-block;
                font-size: 17px;
                font-family: 'Glyphicons Halflings';
            }
        }
    }
}